table td{
    padding: 0;
}
.search-result #offers-filter-form input {
    display: inline-block;
    width: 65px;
}

h3.title_analogies {
    margin-top: 40px
}

#analogies {
    display: none
}
#add-to-favorits:before{
    content: 'Добавить в избранное';
}
#add-to-favorits.added:before{
    content: 'Удалить из избранного';
}
.icon_heart {
    width: 26px;
    height: 23px;
    background: url(/img/icons/icon_heart.png);
}

a.showAllResults {
    color: #e01d1d;
    margin-bottom: 15px;
    display: block
}

.search-result #offers-filter-form .price-wrap, .search-result #offers-filter-form .time-wrap, .search-result #offers-filter-form .instock-wrap {
    display: inline-block;
    margin-right: 40px;
}

.search-result .mobile-layout, .search-result .hidden-row {
    display: none
}

.search-result .mobile-layout .goods-header {
    float: left;
    width: 100%;
    position: relative
}

.search-result .mobile-layout .goods-header p:first-child {
    padding-bottom: 0
}

.search-result .mobile-layout .goods-header .fa-camera {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ebf0f1;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer
}

.search-result #offers-filter-form .price-wrap, .search-result #offers-filter-form .time-wrap, .search-result #offers-filter-form .instock-wrap {
    display: inline-block;
    margin-right: 40px
}

.search-result #offers-filter-form .price-wrap input:first-of-type, .search-result #offers-filter-form .time-wrap input:first-of-type {
    margin-right: 10px
}

.search-result #offers-filter-form .instock-wrap {
    position: relative;
    top: 3px
}

.search-result #offers-filter-form .instock-wrap label {
    vertical-align: text-top
}

.search-result #offers-filter-form .price-wrap input {
    width: 80px
}

.search-result #offers-filter-form label {
    display: inline-block;
    margin-right: 5px
}

.search-result #offers-filter-form input {
    display: inline-block;
    width: 65px
}

.search-result #offers-filter-form button {
    display: inline-block;
    float: none
}

.search-result table button {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    float: none;
    margin: 0 auto
}

.search-result table button::before {
    content: 'Остальные предложения'
}

.search-result table button.active::before {
    content: 'Скрыть'
}

.search-result table th .fa {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    padding: 2px 6px 3px 3px;
    color: #fff
}

.search-result table th:nth-child(-n+2) {
    text-align: left
}

.goods-header.empty {
    border-bottom: 1px dashed #c8c8c8
}

.search-result table td {
    vertical-align: top;
    min-height: 40px
}

.search-result table td:nth-child(-n+2) {
    text-align: left
}

.search-result table td.name-col {
    position: relative;
    line-height: 20px;
}

.search-result table tr {
    border: none
}

.search-result table tr.button-row {
    border-bottom: 1px dashed #c8c8c8
}

.search-result table tr.button-row.active td {
    padding-bottom: 20px
}

.search-result table tr:first-child {
    border-bottom: none
}

.search-result table ul {
    padding: 0;
    min-height: 40px
}

.search-result table ul li {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    white-space: nowrap
}

.search-result table ul.to-cart-list li {
    position: relative
}

.search-result table .to-stock-btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 2.2em;
    padding: 2px 6px 3px 3px;
    color: #0082BF;
}

.search-result table .to-stock-btn:hover {
    color: #006a9b
}

.search-result table .goods-counter {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: red;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    padding: 1px;
    font-size: 15px
}

.search-result table.small-view tr:nth-child(2n+1) td {
    padding-top: 0
}

.search-result table.small-view tr:first-child {
    border: none
}

.search-result table.small-view tr.button-row td {
    text-align: right
}

.search-result table.small-view tr.button-row td button {
    float: right
}

li.user_markup a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800
}

.jq-radio {
    border-radius: 50%
}


.jq-checkbox, .jq-radio {
    vertical-align: -4px;
    width: 18px;
    height: 18px;
    margin: 0 4px 0 0;
    border: 1px solid #C3C3C3;
    background: linear-gradient(#FFF, #E6E6E6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05), inset -1px -1px #FFF, inset 1px -1px #FFF;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden
}

.jq-radio.checked .jq-radio__div {
    width: 12px;
    height: 12px;
    margin: 3px 0 0 3px;
    border-radius: 50%;
    background: #0082BF;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .7)
}


.jq-checkbox.disabled, .jq-radio.disabled {
    opacity: .55
}

.jq-file.disabled, .jq-file.disabled .jq-file__name, .jq-file.disabled .jq-file__browse {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888
}

.jq-checkbox {
    text-align: left;
    border: 1px solid #0082BF;
    box-sizing: border-box;
    -webkit-transition: all ease;
    transition: all ease;
    position: relative;
    height: 18px;
    width: 18px;
}

.info, .jq-checkbox {
    -webkit-box-sizing: border-box;
}

.jq-radio.disabled + span, .jq-checkbox.disabled + span {
    color: #999
}


li.user_markup {
    float: right;
    position: relative
}

li.withSubprice {
    line-height: 30px !important;
    position: relative;
}

ul.prevail {
    font-weight: 700
}

ul.prevail li {
    background: #eaf8ff;
    color: #0082bf
}

.ionTabs {
    position: relative;
    margin-top: 30px;
}

span.subprice {
    display: block;
    line-height: 0;
    font-size: 12px;
    color: #00aafb;
    font-weight: 700;
}

.ionTabs__head {
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff;
}

.ionTabs__head:before, .ionTabs__head:after {
    content: "";
    display: table
}

.jq-checkbox.checked:after {
    content: "";
}

.ionTabs__head li {
    height: inherit;
    color: #fff;
    padding: 0 20px;
    line-height: 42px;
    text-align: center;
}

.info_btn, .input-wrap, .input-wrap input, .input-wrap label, .ionTabs__head li {
    display: inline-block;
}

.jq-checkbox.checked:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    background: #0082BF
}

.ionTabs__head:after {
    clear: both
}

.ionTabs__tab {
    position: relative;
    display: block;
    float: left;
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.ionTabs__head li.ionTabs__tab_state_active:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ionTabs__tab.ionTabs__tab_state_active {
    cursor: default;
    background: #0069A3;
    position: relative;
}

.ionTabs__body {
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

.ionTabs__item {
    position: relative;
    display: none
}

.ionTabs__item.ionTabs__item_state_active {
    display: block
}

.ionTabs__preloader {
    position: relative
}


.pickmeup {
    margin-top: 10px;
    background: #fafafa;
    border-radius: 0;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    border: 1px solid #0081bc;
    box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.35)
}

.pickmeup * {
    box-sizing: border-box
}

.pickmeup.pmu-flat {
    position: relative
}

.pickmeup.pmu-hidden {
    display: none
}

.pickmeup .pmu-instance {
    display: inline-block;
    height: 13.8em;
    padding: 0;
    text-align: center;
    width: 15em
}

.pickmeup .pmu-instance .pmu-button {
    color: #000;
    cursor: pointer;
    outline: none;
    text-decoration: none
}

.pickmeup .pmu-instance .pmu-today {
    background: #17384d;
    color: #ccc
}

.pickmeup .pmu-instance .pmu-button:hover {
    background: transparent;
    color: #ccc
}

.pickmeup .pmu-instance .pmu-not-in-month {
    color: #c8c8c8
}

.pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover {
    color: #333;
    cursor: default
}

.pickmeup .pmu-instance .pmu-selected {
    background: #0082BF;
    color: #fff
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background: #17384d
}

.pickmeup .pmu-instance nav {
    color: #000;
    display: -ms-flexbox;
    line-height: 2em
}

.pickmeup .pmu-instance nav :first-child :hover {
    color: #ccc
}

.pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next {
    display: none;
    height: 2em;
    width: 1em
}

.pickmeup .pmu-instance nav .pmu-month {
    width: 14em
}

.pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * {
    display: inline-block;
    line-height: 3.6em;
    width: 3.5em
}

.pickmeup .pmu-instance .pmu-day-of-week {
    color: #999;
    cursor: default
}

.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
    display: inline-block;
    line-height: 1.5em;
    width: 2em
}

.pickmeup .pmu-instance .pmu-day-of-week * {
    line-height: 1.8em
}

.pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next {
    display: block
}

.pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em
}

.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none
}

div.emptyAvailabilityMainStores {
    text-align: left;
    margin: 0 auto;
    width: 323px
}

div.emptyAvailabilityMainStores p {
    padding: 10px 0
}

div.emptyAvailabilityMainStores img {
    float: left;
    width: 34px;
    margin-right: 10px
}
#user_markup {
    background: #f1f1f1;
    z-index: 53;
    display: none;
    position: absolute;
    right: 0;
    top: 47px;
    padding: 20px;
    color: #727272;
    width: 359px;
    box-sizing: border-box;
}

#user_markup .background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0
}

#user_markup form button[disabled] {
    color: #ccc
}

#user_markup form button {
    margin-top: 5px;
    display: block
}

#user_markup label:last-child {
    margin-top: 10px
}

#user_markup label.markup {
    display: block;
    text-align: left;
    float: left
}

#user_markup label.showInBasket {
    display: block;
    text-align: left
}

#user_markup label.markup ~ span {
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    line-height: 35px;
}

#user_markup form input {
    display: initial
}

#user_markup label.showType {
    display: block;
    text-align: left;
    margin-left: 25px
}

#user_markup label span {
    position: relative
}

#user_markup input[name=markup] {
    width: 50px;
    text-align: center;
    padding: 0;
    float: left;
    margin-left: 10px
}

#user_markup input[name=showType] {
    display: block
}

#user_markup input[name=showType] ~ label {
    display: inline-block
}

#user_markup::before {
    content: "";
    position: absolute;
    right: 18px;
    top: -10px;
    z-index: 1000;
    height: 0;
    width: 0;
    border-bottom: 10px solid #f1f1f1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

.articul-table tr.gif {
    display: block !important
}

.articul-table tr, .mobile-layout tr {
    display: none
}

.articul-table tr.shown {
    display: table-row
}

.mobile-layout tr.shown {
    display: table-row
}

.mobile-layout tr.shown.empty td {
    padding-bottom: 20px
}

table.small-view {
    border-bottom: 1px dashed #c8c8c8 !important
}

b.brend_info {
    font-weight: 700;
    cursor: pointer;
}

a.sortable.asc, a.sortable.desc {
    padding-right: 10px;
    position: relative;
    display: block
}

a.sortable {
    color: #fff
}


table.small-view li.count-block input {
    position: relative;
    top: 0;
    height: 28px;
    width: 40px
}

a.sortable.in_stock.asc {
    font-size: 13px;
    line-height: 17px;
    width: 80px
}

.icon-checkmark1:before {
    content: "\ea10";
    color: #77d077;
    font-size: 18px
}

table#item_into {
    display: none
}

li.count-block input {
    position: relative;
}

span.icon-checkmark1 {
    margin-right: 3px
}

a.sortable.asc::after, a.sortable.desc::after {
    content: '';
    background: url(/img/icons/favicon.png) no-repeat right;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px
}

.icon-tab {
    content: "\ea45";
    color: #fff;
    background: #0082BF;
    padding: 4px;
    border-radius: 14px;
    font-size: 12px;
    margin-right: 5px
}

a.sortable.desc::after {
    transform: rotate(180deg)
}

span[class^=icon] {
    cursor: pointer
}

.noReturn > a {
    cursor: pointer;
    color: red;
    font-weight: 800
}

table td.name-col a {
    position: relative;
    top: 2px;
    font-size: 16px
}

.fa-camera:before {
    content: "\f030";
    font-size: 19px
}

.fa-font:before {
    content: "\f031"
}

.filter-form .search-wrap, .filter-form input, table {
    width: 100%
}

.count-block input {
    text-align: center;
    width: 70px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: #0082BF
}

.count-block input::-webkit-inner-spin-button, .count-block input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

#providerInfo td {
    padding: 5px 0;
}

#providerInfo td:nth-child(2) {
    padding-left: 10px;
    text-align: left;
}

#providerInfo td:nth-child(1) {
    font-weight: 800;
}

#providerInfo div.donut {
    position: relative;
    display: inline-block;
}

.icon-notification:before {
    content: "\ea08";
}

#providerInfo .information .row span.left {
    width: 50%;
    display: inline-block;
}

#providerInfo .information .row span.left {
    width: 50%;
    display: inline-block;
}

#providerInfo div.donut {
    position: relative;
    display: inline-block;
}

#providerInfo .information .row span.right {
    font-weight: bold;
}

#providerInfo .informationReturn {
    display: flex;
}

#providerInfo span.icon-circle-down,
#providerInfo span.icon-notification {
    line-height: 35px;
    color: #438e53;
    margin: 10px;
    font-size: 20px;
}

#providerInfo span.icon-notification {
    color: red;
}

#providerInfo .informationReturn {
    display: flex;
    background: #ececec;
    margin-top: 10px;
}

#providerInfo .informationReturn p.returnText {
    font-size: 13px;
    line-height: 17px;
}

#providerInfo .informationReturn p {
    line-height: 35px;
}

.information .row {
    font-size: 14px;
    margin-bottom: 8px;
}

#providerInfo {
    width: 360px;
}

.information .row {
    font-size: 14px;
    margin-bottom: 8px;
}

div.donut div.text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 23px;
    font-size: 20px;
}

div.donut span.percent.green {
    color: #438e53;
}

div.donut span.percent.red {
    color: red;
}

div.donut span.percent {
    display: block;
    font-size: 21px;
}

div.donut span.percent::after {
    content: '%';
}

div.donut span.describe {
    font-size: 12px;
    margin-top: 0;
    display: block;
}


@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
             * Remove all paddings around the image on small screen
             */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}


@media (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media screen and (max-width: 928px) {
    .search-result #offers-filter-form button {
        margin-top: 20px
    }

    .search-result #offers-filter-form .price-wrap, .search-result #offers-filter-form .time-wrap, .search-result #offers-filter-form .instock-wrap {
        display: inline-block;
        margin-right: 20px
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        transform: scale(0.75)
    }

    .mfp-arrow-left {
        transform-origin: 0
    }

    .mfp-arrow-right {
        transform-origin: 100%
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}

@media screen and (max-width: 800px) {
    .description-block .ionTabs__head {
        height: 50px;
    }

    .description-block li {
        padding: 0px !important;
        width: 70px !important;
    }

    .description-block li[data-target=Tab_1_name]:before,
    .description-block li[data-target=Tab_2_name]:before,
    .description-block li[data-target=Tab_3_name]:before {
        display: none;
    }

    .description-block li i.fa {
        display: block;
        font-size: 36px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 700px) {
    .search-result #offers-filter-form .price-wrap, .search-result #offers-filter-form .time-wrap, .search-result #offers-filter-form .instock-wrap {
        margin-top: 20px
    }

    .search-result .ionTabs__body {
        padding: 0;
    }

    .search-result .ionTabs__body {
        padding: 0
    }

    table.articul-table {
        display: table;
        font-size: 12px
    }

    table.articul-table th {
        font-size: 12px
    }

    table.articul-table th:first-child {
        padding-left: 5px
    }

    table.articul-table td:first-child {
        padding-left: 5px
    }

    table.articul-table th:nth-child(3), table.articul-table td:nth-child(3) {
        display: none
    }

    table.articul-table ul li {
        font-size: 12px
    }

    .product-popup .description-block {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    .product-popup-wrap .mfp-content {
        box-sizing: border-box;
        width: 100%
    }

    .product-popup .price {
        display: none
    }

    .product-popup .price.mobile-price {
        display: block;
        position: relative;
        padding-left: 30px
    }

    .product-popup .gallery-block {
        width: 100%;
        float: none
    }

    .product-popup .gallery-block #main-pic {
        height: auto;
        width: 50%
    }

    .product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-prev, .product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-next {
        width: 30px;
        z-index: 2
    }

    .product-popup .description-block {
        width: 100%;
        float: none;
        padding-left: 0
    }

    .product-popup .buttons button {
        margin-bottom: 10px;
        min-width: 226px
    }
}

@media screen and (max-width: 600px) {
    #div_10 {
        float: none;
        width: 100%;
    }

    #div_table {
        float: none !important;
        margin: 10px auto !important;;
    }

    #full-image .img-wrap {
        width: calc(100% - 40px);
        max-height: 80%;
        overflow: hidden;
    }

    .img-wrap {
    }
}

@media screen and (max-width: 550px) {
    #user_markup{
        width: calc(100vw - 20px);
    }
    .ionTabs__body {
        padding: 0;
    }

    .search-result .mobile-layout {
        display: block
    }

    .ionTabs__head li {
        font-size: 12px;
        padding: 0 5px
    }

    .ionTabs__head li:nth-child(n + 2) {
        padding-right: 21px
    }

    .ionTabs__body {
        padding: 0
    }

    .search-result .articul-table {
        display: none
    }

    .search-result #offers-filter-form .price-wrap, .search-result #offers-filter-form .time-wrap, .search-result #offers-filter-form .instock-wrap {
        display: block
    }

    .mobile-layout .icon-tab:before {
        font-size: 14px;
    }

    .fa-gear:before, .fa-cog:before, .fa-camera:before {
        position: relative;
        font-size: 30px;
        top: 5px;
    }

    .mobile-layout span.icon-tab.wrongAnalogy {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

@media screen and (max-width: 547px) {
    .product-popup .buttons button {
        width: 240px;
        margin: 0 auto;
        display: block;
        float: none !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 544px) {
    #search-same {
        margin-top: 0;
    }

    #mgn_popup {
        padding: 10px;
    }

    #main {
        padding: 0 10px;
    }
}
