.basket .mobile-view .favorites-btn {
    padding-left: 0;
}

.basket .mobile-view .price-block,
.basket .mobile-view .subtotal-block {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.basket .mobile-view .price-block {
    text-align: left;
}

.basket .mobile-view span.label {
    font-size: 0.9em;
    display: block;
}

.basket .mobile-view span.delivery-time {
    padding-left: 50px;
    font-size: 1.1rem;
}

.basket .mobile-view span.price-change-warning {
    display: block;
}

.basket .mobile-view span.subtotal {
    display: block;
    font-size: 1.4em;
}

.basket .mobile-view span.price {
    font-size: 1.4em;
}

.basket .mobile-view .goods-header {
    position: relative;
    margin-bottom: 20px;
}

.basket .mobile-view .goods-header p {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    padding-bottom: 0;
}

.basket .mobile-view .goods-header p:first-child {
    padding-bottom: 0;
}

.basket .mobile-view .goods-header .fa-pencil-square-o {
    position: absolute;
    top: 0;
    color: #000;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
    right: 7px;
}

.basket .mobile-view .good {
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px dashed #c8c8c8;
    position: relative;
}

.basket .mobile-view .good:first-child {
    padding-top: 0;
}

.basket .mobile-view .good .goods-footer {
    position: relative;
}

.basket .mobile-view .good .goods-footer textarea {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    height: 100px;
}

.basket .mobile-view .good .favorites-btn {
    position: absolute;
    right: 8px;
    bottom: 30px;
    font-size: 1.6em;
}

.basket .mobile-view .good span.delete-btn {
    text-align: center;
    right: 0;
    position: absolute;
    top: -webkit-calc(50% - 30px);
    top: calc(50% - 30px);
    -ms-transform: translateY(calc(-50% + 15px));
    transform: translateY(calc(-50% + 15px));
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 1.5em;
}

.basket .mobile-view .good .count-block {
    margin-bottom: 0;
}

.jq-checkbox.checked:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    background: #0082BF
}



.info, .jq-checkbox {
    -webkit-box-sizing: border-box;
}

table.basket-table th.amount {
    min-width: 150px;
}

table.basket-table td:first-child {
    padding-left: 20px;
}

td.checkbox {
    padding-left: 0 !important;
    padding-right: 10px !important;
}

b.brend_info {
    font-weight: 700;
    cursor: pointer;
}

.basket .fa-pencil-square-o,
.basket .fa-star,
.basket .fa-star-o {
    font-size: 1.5em;
    padding: 0 10px;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*margin-left: 3px;*/
}

.fa-star, .fa-star-half-o, .fa-star-o {
    color: gold
}

.fa-star-o:before {
    content: "\f006";
}

.fa-star-o:before {
    content: "\f006";
}

table.basket-table td.delivery-time {
    font-size: 1.1rem;
}

.count-block .minus, .count-block .plus {
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: #0082BF;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-size: 30px
}

.count-block input {
    text-align: center;
    width: 70px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: #0082BF
}

.count-block input::-webkit-inner-spin-button, .count-block input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

table.basket-table td.price-col {
    white-space: nowrap;
    text-align: center;
    padding: 0 10px;
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044";
}

.comment-block label input {
    height: auto;
}

.comment-block {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 320px;
    padding: 10px;
    background: #fff;
    right: -15px;
    margin-top: 10px;;
}

.comment-block textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.comment-block #to_all_positions {
    height: auto;
}

.comment-block .save_comment {
    margin-top: 10px;
    display: inline-block;
}

.comment-block .cancel_comment {
    display: inline-block;
    margin-left: 30px;
}

.comment-block:before {
    height: 0;
    width: 0;
    border-bottom: 13px solid #fff;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    content: "";
    position: absolute;
    top: -13px;
    right: 30px;
}

.good .available {
    color: red;
}

span.not_available {
    color: red;
}

.car_left, .car_right {
    width: 49%;
    display: inline-block;
}

.basket .total span {
    padding-left: 0;
    padding-right: 20px;
}

.basket .mobile-view {
    display: none;
}

.basket .total {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
}

.car_left, .car_right {
    width: 49%;
    display: inline-block;
}
.wrapper.vin a {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.car_right {
    position: relative;
    top: 3px;
}
input[name="vin_input"] {
    width: 100%;
}

#basket_clear{
    cursor: pointer;
}


.checkbox-wrap label:before, .date-wrap .calendar-icon, .info:before, .jq-checkbox.checked:after, .pseudo-select:after {
    content: "";
}
.fa-star:before {
    content: "\f005";
}

.jq-selectbox {
    width: 100%;
    cursor: pointer;
}

.jq-selectbox__select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 55px 0 10px;
    width: 100%;
    height: 34px;
    border: 1px solid #C7C7C7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 34px;
    color: #5f5f5f;
}
.jq-selectbox__select-text {
    display: block;
    width: 100%;
    height: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: url(/img/icons/select__arrow_down.png) 16px center no-repeat #C7C7C7;
}
.jq-selectbox__dropdown {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 4px 0 0;
    padding: 0;
    border: 1px solid #C7C7C7;
    background: #FFF;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    font-size: 16px;
    line-height: 23px;
}
.jq-selectbox ul {
    margin: 0;
    padding: 0;
}
.jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
}
.jq-selectbox li {
    height: 20px;
    padding: 5px 10px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #5f5f5f;
}
a.button, button, input[type=submit], input[type=reset] {
    float: left;
    line-height: 34px;
    height: 34px;
    border: none;
    padding: 0 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #0082bf;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}
.mfp-close-btn-in .mfp-close {
    color: #333;
}

@media screen and (max-width: 880px) {
    .comment-block {
        right: 0;
    }

    .count-block ~ a {
        text-align: left;
        display: block;
    }

    .comments-block:before {
        content: none;
    }

    .basket button.update-price {
        float: none;
    }

    .basket .mobile-view {
        display: block;
    }

    .basket .mobile-view .count-block ~ span {
        text-align: left;
    }

    .basket .mobile-view .count-block {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .basket .mobile-view .delete-btn {
        margin: 0 10px;
    }

    table.basket-table {
        display: none;
    }
    #mgn_popup table.basket-table{
        display: table;
    }
}

@media screen and (max-width: 600px) {
    .car_left, .car_right {
        width: 100% !important;
    }
}

@media screen and (max-width: 550px) {
    #main {
        padding: 0 5px;
    }
    #mgn_popup{
        padding: 10px;
    }
    #mgn_popup table.basket-table td{
        padding: 5px;
    }

    #additional_options .jq-selectbox__select-text{
        white-space: normal;
        line-height: 15px;
        padding: 5px 0;
    }
    #additional_options .jq-selectbox__select{
        height: auto;
    }
}