div.list-view > div {
    display: flex;
    flex-direction: column;
}

#perPage a.perPage {
    padding: 0 0;
    line-height: 20px;
}

div#perPage {
    color: white;
    font-size: 13px;
    float: right;
    margin-right: 120px;
    margin-top: 10px;
}

.pagination-container {
    margin-top: 20px;
}

label.filter_value {
    color: #5f5f5f;
    font-size: 19px;
    padding: 2px;
    display: inline-block;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.icon-cross1:before {
    content: "\ea0f";
    font-size: 13px;
    color: red;
}

.input-wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin: 5px 0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    transform: translateX(-14px);
    background: #0082BF;
}

.slider.round:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input:checked+.slider {
    border: 1px solid #0082BF;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    right: 2px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider {
    border: 1px solid #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input {
    display: none;
}

.slider.round {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

label[for=comparing] {
    position: relative;
    top: -5px;
}

.input-wrap label {
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
}

.switch {
    width: 34px;
    display: inline-block;
    height: 20px;
}

#main > div > div.items > div.content > div.mosaic-view > div.flex {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
}

.list-view {
    margin-top: 10px;
}

div.list-view > div > a {
    margin-top: 10px;
    color: #0081bc;
}

.items .mosaic-view .goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items .content .item_1 {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    padding: 20px;
    margin-top: 10px;
    border: 1px dashed #c3c3c3;
    overflow: hidden;
}

.items .content .item_1:hover {
    border: 1px solid #c3c3c3;
}

.mosaic-view .item_1 .product {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mosaic-view .item_1 p {
    padding: 0 0 5px;
}

.mosaic-view .item_1 .price-and-delivery {
    float: left;
    width: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
}

.mosaic-view .item_1 .price-and-delivery .price span {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.mosaic-view .item_1 .price-and-delivery .delivery {
    font-style: italic;
}

.mosaic-view .item_1 .product .pic-and-description .img-wrap {
    width: 100px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 140px;
}

.mosaic-view .item_1 .product .pic-and-description .img-wrap img {
    width: 100%;
}

.mosaic-view .item_1 .product .pic-and-description .description {
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: -webkit-calc(100% - 100px);
    position: absolute;
    width: 100%;
}

.item_1:hover {
    outline: 1px solid #c3c3c3 !important;
    cursor: pointer;
}

.mosaic-view .item_1 .product .pic-and-description .description p {
    color: #c3c3c3;
    font-size: 14px;
}

.items .content .item {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-form {
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    padding: 30px;
    width: 330px;
    float: left
}

.catalogue.catalogue-filter .item h3 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-transform: none;
}

.filter-form h3 {
    margin-bottom: 20px
}

.filter-form p {
    margin: 10px 0
}

.search-wrap {
    margin-top: 5px;
}

.search-wrap {
    position: relative;
    min-width: 250px;
    width: 100%;
}

.search-wrap input {
    width: 100%
}

.search-wrap .search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url(/img/icons/search_gray.png) center no-repeat
}

.catalogue.catalogue-filter .input_box {
    margin-bottom: 8px;
}

.catalogue .content .mosaic-view .item {
    position: relative;
    border: 1px dashed #c3c3c3;
    display: flex;
    align-items: center;
}

.catalogue .content .mosaic-view .item a {
    width: 100%;
    text-decoration: none;
}

.catalogue.catalogue-filter .item {
    margin-top: 10px;
    width: -webkit-calc(33.33333333% - 10px);
    width: calc(50% - 10px);
    vertical-align: middle;
}

.catalogue .mobile-sort-block p,
.catalogue .volume_input p {
    text-transform: uppercase
}

.catalogue a.product-popup-link {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block
}

.catalogue a.small {
    height: auto;
}

.catalogue .mobile-sort-block {
    display: none;
    background: #0082BF;
    height: 67px
}

.catalogue .mobile-sort-block p {
    padding: 0 0 0 10px;
    font-size: 14px;
    line-height: 67px;
    float: left;
    color: #fff
}

.catalogue .mobile-sort-block #sort-change-mobile {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    margin-left: 10px
}

.catalogue .mobile-sort-block .sort-block {
    z-index: 2;
    position: absolute !important;
    display: none;
    width: 220px;
    background: #fff;
    border: 1px solid #0082BF;
    -webkit-box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, .35);
    box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, .35)
}

.catalogue .mobile-sort-block .sort-block ul {
    margin: 0;
    padding: 0;
    display: block
}

.catalogue .mobile-sort-block .sort-block ul li {
    padding: 0;
    margin: 0
}

.catalogue .mobile-sort-block .sort-block ul li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    color: #5f5f5f
}

.catalogue .mobile-sort-block .sort-block ul li a:active, .catalogue .mobile-sort-block .sort-block ul li a:hover {
    background: #0082BF;
    color: #fff;
    text-decoration: none
}

.catalogue .filter-form input[type=reset] {
    display: block;
    width: auto;
    margin: 0 auto;
    float: none;
}

.catalogue .filter-form button {
    float: left
}

.catalogue .option-panel a.active:after {
    content: "↑";
    display: inline-block;
    position: relative;
    top: -3px;
    padding-left: 5px
}

.catalogue .option-panel a.active.desc:after {
    content: "↓"
}

.catalogue .content .mosaic-view .item {
    position: relative;
}

.catalogue .content .mosaic-view .item p {
    padding: 0 0 5px
}

.catalogue .content .mosaic-view .item .product {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.catalogue .content .mosaic-view .item .product .pic-and-description .img-wrap {
    width: 100px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block
}

.catalogue .content .mosaic-view .item .product .pic-and-description .img-wrap img {
    width: 100%
}

.catalogue .content .mosaic-view .item .product .pic-and-description .description {
    padding-left: 20px;
    padding-top: 10px;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block
}

.catalogue .content .mosaic-view .item .product .pic-and-description .description p {
    color: #c3c3c3;
    font-size: 14px
}

.catalogue .content .mosaic-view .item .price-and-delivery {
    float: left;
    width: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: right
}

.catalogue .content .mosaic-view .item .price-and-delivery .price span {
    color: red;
    font-weight: 700;
    font-size: 20px
}

.catalogue .content .mosaic-view .item .price-and-delivery .delivery {
    font-style: italic
}

.catalogue .content .list-view td.rating {
    min-width: 91px
}

.items, .items .content .item {
    -webkit-box-sizing: border-box;
    display: inline-block
}

.items {
    box-sizing: border-box;
    padding-left: 30px;
    padding-bottom: 5px;
    width: -webkit-calc(100% - 330px);
    width: calc(100% - 330px);
    min-height: 200px;
}

.items .content .item {
    outline: 0;
    box-sizing: border-box;

}

.items .content .item:hover {
    border: #0081bc solid 1px !important;
}

.items .content .item .description, .items .content .item .img {
    float: left;
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.items .content .active-tab .item .remove-item, .items .content .not-active-tab .item .restore-item {
    float: right
}

.items .content .list-view table.middle-view, .items .content .list-view table.small-view, .not-active-tab {
    display: none
}

.items .content .item .img {
    padding: 0 10px 10px;
    margin-top: 20px
}

.items .content .item .img img {
    width: 100%;
    object-fit: contain
}

.items .content .item .description .parametrs {
    margin: 20px 0
}

.items .content .item .description .parametrs p {
    font-size: 14px
}

.items .content .item .restore-item {
    padding-right: 30px;
    font-size: 14px
}

.items .content .item .remove-item {
    padding-left: 30px;
    font-size: 14px
}

.items .content .not-active-tab .item {
    opacity: .5
}

.items .content .not-active-tab .item .remove-item {
    float: left
}

.items .content .not-active-tab .item:hover {
    opacity: 1
}

.items .content .list-view table {
    width: 100%
}

.items .content .list-view th {
    padding: 0 10px;
    height: 42px;
    background: #0082BF;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle
}

.items .content .list-view th:first-child {
    text-align: left;
    padding-left: 20px
}

.items .content .list-view tr {
    border: none;
    height: 42px;
    text-align: center
}

.items .content .list-view tr:nth-child(2n) {
    background: #fff
}

.items .content .list-view tr:nth-child(2n+1) {
    background: #F3F3F3
}

.items .content .list-view td:first-child {
    text-align: left;
    padding-left: 20px
}

#sort-direction-mobile {
    font-family: fontAwesome;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    background: #0069A3;
    position: relative
}

#sort-direction-mobile.up:after {
    content: "\f106";
    position: absolute;
    top: 4px;
    left: 9px;
    color: #fff;
    line-height: normal
}

#sort-direction-mobile.down:after {
    content: "\f107";
    position: absolute;
    top: 5px;
    left: 9px;
    color: #fff;
    line-height: normal
}

.option-panel {
    position: relative;
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff
}

.option-panel a {
    display: inline-block;
    height: inherit;
    color: #fff;
    line-height: 42px;
    text-align: center;
    padding: 0 20px;
    text-transform: uppercase;
}

.option-panel a.active {
    background: #0069A3;
    position: relative
}

.option-panel a.active:before {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.option-panel .view-switchs {
    width: 104px;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 5px solid #fff;
    height: inherit
}

.option-panel .view-switchs .list-view-switch, .option-panel .view-switchs .mosaic-view-switch {
    position: relative;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: inherit;
    width: 52px;
    cursor: pointer
}

.option-panel .view-switchs .list-view-switch img, .option-panel .view-switchs .mosaic-view-switch img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.option-panel .view-switchs .list-view-switch.active, .option-panel .view-switchs .mosaic-view-switch.active {
    background: #0069A3;
    position: relative
}

.option-panel .view-switchs .list-view-switch.active:after, .option-panel .view-switchs .mosaic-view-switch.active:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pagination {
    text-align: center;
    margin-top: 100px
}

.pagination ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center
}

.pagination ul li a {
    line-height: 30px
}

.pagination ul li.current {
    background: #0082BF
}

.pagination ul li.current a {
    color: #fff
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa, .fa-stack {
    display: inline-block;
}

.fa-star-o:before {
    content: "\f006";
}



i[class$=fa-rub], i[class$=fa-usd], i[class$=fa-eur], i[class$=fa-jpy] {
    margin-left: 3px;
}
.fa-question-circle-o:before {
    content: "\f29c";
}

#item_into .to-stock-btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 2.2em;
    padding: 2px 6px 3px 3px;
    color: #0082BF;
}
.ionTabs__tab {
    display: block;
    background: 0 0;
    padding: 0;
    float: left;
}
.ionTabs__head {
    display: block;
    padding: 0;
    z-index: 1;
    zoom: 1;
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}
.ionTabs__head, .ionTabs__tab {
    margin: 0;
    list-style-type: none;
}
.ionTabs__head {
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff;
}
.ionTabs__head:after, .ionTabs__head:before {
    content: "";
    display: table;
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}
.ionTabs__head, .ionTabs__tab {
    margin: 0;
    list-style-type: none;
}
.ionTabs__tab, .mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
.ionTabs__tab.ionTabs__tab_state_active {
    cursor: default;
    color: white;
}
.ionTabs__head li {
    height: inherit;
    color: #fff;
    padding: 0 20px;
    line-height: 42px;
    text-align: center;
}
.ionTabs__head li.ionTabs__tab_state_active {
    background: #0069A3;
    position: relative;
}
.ionTabs__head li.ionTabs__tab_state_active:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}
.ionTabs__body {
    margin-top: 10px;
    padding: 10px;
}
.ionTabs__item.ionTabs__item_state_active {
    display: block;
}
.ionTabs__item {
    display: none;
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}

.catalogue.catalogue-filter .item {
    margin-top: 10px;
    width: -webkit-calc(33.33333333% - 10px);
    width: calc(50% - 10px);
    vertical-align: middle;
}

.irs-from, .irs-max, .irs-min, .irs-single, .irs-to {
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none
}
.fa.fa-pull-left, .fa.pull-left {
    margin-right: .3em
}
.irs {
    height: 40px
}
.irs-with-grid {
    height: 60px
}
.irs-line {
    height: 4px;
    top: 27px
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    height: 4px;
    background: #DCDCDC
}
.irs-bar {
    height: 4px;
    top: 26px;
    background: #0082BF
}
.irs-bar-edge {
    top: 25px;
    height: 8px;
    width: 11px
}
.irs-shadow {
    height: 1px;
    top: 34px;
    background: #000;
    opacity: .15
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=15)
}
.irs-slider {
    width: 24px;
    height: 24px;
    top: 17px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #0082BF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border ease .5s;
    transition: border ease .5s
}
.irs-slider.state_hover, .irs-slider:hover {
    border-width: 7px
}
.irs-max, .irs-min {
    color: #999;
    top: 5px;
    padding: 1px 3px;
    background: rgba(0, 0, 0, .1);
    -webkit-border-radius: 3px;
    border-radius: 3px
}
.lt-ie9 .irs-max, .lt-ie9 .irs-min {
    background: #ccc
}
.irs-from, .irs-single, .irs-to {
    color: #fff;
    padding: 1px 5px;
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: -6px
}
.lt-ie9 .irs-from, .lt-ie9 .irs-single, .lt-ie9 .irs-to {
    background: #999
}
.irs-grid-pol {
    background: #99a4ac
}
.irs-grid-text {
    color: #99a4ac
}
.irs-from, .irs-grid-text, .irs-single, .irs-to{
    white-space: nowrap
}
.irs, .irs-bar, .irs-bar-edge, .irs-line {
    display: block
}
.irs {
    -webkit-touch-callout: none;
    user-select: none
}
.irs-line {
    overflow: hidden;
    outline: 0!important
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute;
    display: block;
    top: 0
}
.irs-line-left {
    left: 0;
    width: 11%
}
.irs-line-mid {
    left: 9%;
    width: 82%
}
.irs-line-right {
    right: 0;
    width: 11%
}
.irs-bar, .irs-shadow {
    position: absolute;
    width: 0;
    left: 0
}
.irs-bar-edge {
    position: absolute;
    left: 0
}
.irs-shadow {
    display: none
}
.irs-from, .irs-max, .irs-min, .irs-single, .irs-slider, .irs-to {
    display: block;
    position: absolute;
    cursor: default
}
.irs-slider {
    z-index: 1
}
.irs-slider.type_last {
    z-index: 2
}
.irs-min {
    left: 0
}
.irs-max {
    right: 0
}
.irs-from, .irs-single, .irs-to {
    left: 0
}
.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px
}
.irs-with-grid .irs-grid {
    display: block
}
.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px
}
.irs-grid-pol.small {
    height: 4px
}
.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px
}
.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: 0 0;
    z-index: 2
}
.irs-disabled {
    opacity: .4
}
.lt-ie9 .irs-disabled {
    filter: alpha(opacity=40)
}
.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    z-index: -9999 !important;
    background: 0 0 !important;
    border-style: solid !important;
}
.irs-from, .irs-grid-text, .irs-single, .irs-to{
    white-space: nowrap
}
.irs, .irs-line, .pickmeup.pmu-flat {
    position: relative
}
.irs{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

@media screen and (max-width: 1100px) {
    .catalogue .filter-form {
        width: 100%;
    }

    .catalogue .filter-form .input_box {
        width: 33.33333333%;
        float: left;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 20px
    }

    .catalogue .filter-form .input_box.volume_input {
        display: block
    }

    .catalogue .items {
        width: 100%;
        padding-left: 0;
        margin-top: 30px
    }

    .catalogue .items .content .item {
        border: 1px dashed grey
    }

    .catalogue .items .content .list-view table.wide-view {
        display: table
    }

    .catalogue-original .list-view .items .item {
        width: 33.33333333%
    }

    .items {
        width: -webkit-calc(100% - 290px);
        width: calc(100% - 290px)
    }

    .items .content .item {
        width: calc(50% - 10px);
    }

    .items .content .list-view table.wide-view {
        display: none
    }

    .items .content .list-view table.middle-view {
        display: table
    }
}
@media screen and (max-width: 800px) {
    .description-block .ionTabs__head {
        height: 50px;
    }

    .description-block li {
        padding: 0 !important;
        width: 70px !important;
    }

    .description-block li[data-target=Tab_1_name]:before,
    .description-block li[data-target=Tab_2_name]:before,
    .description-block li[data-target=Tab_3_name]:before {
        display: none;
    }

    .description-block li i.fa {
        display: block;
        font-size: 36px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 700px) {
    .catalogue .filter-form .input_box {
        width: 100%;
        float: none;
        padding-right: 0;
    }

    .catalogue .sort-block {
        display: none
    }

    .catalogue .filter-form .input_box {
        width: 100%;
        float: none;
        padding-right: 0
    }

    .catalogue .filter-form .input_box.volume_input {
        display: block
    }

    .catalogue .items .content .list-view table.wide-view, .catalogue .option-panel {
        display: none;
    }

    .catalogue .filter-form input[type=reset] {
        float: right
    }

    .catalogue .items .content .item {
        width: 100%
    }

    .mosaic_mosaic {
        display: none !important;
    }

    .catalogue .mobile-sort-block {
        display: block;
    }

    .catalogue .items .content .item_1 {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 5px;
    }

}

@media screen and (max-width: 550px) {
    .ionTabs__head li {
        width: 50px;
        padding: 0 5px;
        font-size: 12px;
    }
    #div_table {
        float: none;
        margin: 0 auto;
    }



    #main {
        padding: 0 5px;
    }

    .catalogue .filter-form {
        padding: 15px;
    }
}

@media screen and (max-width: 415px) {
    .items .content {
        margin-top: 10px;
    }
}
