table.orders-table tr:first-child {
    border: none;
}

table.orders-table tr {
    border-bottom: 1px dashed #c8c8c8;
}

.orders-message .input-wrap {
    margin-top: 30px;
    width: 300px;
    position: relative;
}

.orders-message .input-wrap label,
.orders-message .input-wrap .jq-selectbox {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.orders-message .input-wrap label {
    display: block;
    line-height: 34px;
}

#fotos {
    margin-bottom: 20px;
}

table.orders-table td .status-col.status-delivery {
    color: #65b562;
}

table.orders-table td .status-col.status-sended {
    color: #00a3e8;
}

table.orders-table td .status-col.status-done {
    color: #0069a0;
}

table.orders-table td .status-col.status-return {
    color: #f4191f;
}

table.orders-table td .status-col.status-stoped {
    color: #ff7f1f;
}

#fotos li {
    display: inline-block;
    height: 200px;
    position: relative;
}

.attachment .img-wrap > a {
    display: block;
    width: 100%;
}

.attachment .img-wrap > a > img {
    width: 100%;
}

#fotos li:hover:before {
    content: " ";
    background-size: 66px;
    height: 200px;
    width: 100%;
    position: absolute;
    background-position: 50% 50%;
    cursor: pointer;
}

#fotos li:hover:after {
    content: "Удалить фото";
    position: absolute;
    color: white;
    top: 69%;
    display: block;
    text-align: center;
    width: 100%;;
}

#fotos img {
    height: 200px
}

table.orders-table.small-view {
    display: none;
}

table.orders-table tr {
    border-bottom: 1px dashed #c8c8c8;
}

table.orders-table tr:first-child {
    border: none;
}

table.orders-table.small-view {
    display: none;
}

.dialog-box {
    border: 1px solid #c8c8c8;
    padding: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.dialog-box .message-box:last-child {
    margin-bottom: 0;
}

.dialog-box .message-box:first-child {
    margin-top: 0;
}

.dialog-box .message-box {
    margin: 5px 0;
    padding: 10px;
}

.sender {
    font-weight: 700;
    padding-bottom: 0;
    color: #0082BF;
}

.send-time {
    color: #727272;
    font-size: 12px;
}

form#send-message textarea {
    width: 100%;
    resize: none;
    height: 120px;
    margin-bottom: 20px;
}

#fotos {
    margin-bottom: 20px;
}

form#send-message .info_btn {
    margin-left: 5px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 0;
    left: 140px;
}

.info_btn {
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url(/img/icons/registration__info_icon.png) center top no-repeat;
    cursor: pointer;
}

form#send-message .info {
    left: 128px;
    position: absolute;
    top: 93%;
}

.info {
    box-sizing: border-box;
    top: 40px;
    left: 0;
    z-index: 998;
}
.info, .info_btn .infotext {
    padding: 15px;
    width: 320px;
    background: #fff;
    position: absolute;
}

.info:before {
    display: block;
    width: 18px;
    height: 9px;
    background: url(/img/icons/header__white_arrow_up.png) center no-repeat;
    position: absolute;
    top: -9px;
}

form#send-message button {
    margin-top: 30px;
    float: none;
    margin-bottom: 50px;
}
.filter-form .search-wrap, .filter-form input, table {
    width: 100%;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 26px;
    }
    table.orders-table.small-view {
        display: table;
    }
    table.orders-table {
        display: none;
    }

    table.orders-table.small-view {
        display: table;
    }

    table.orders-table.small-view td:last-child {
        vertical-align: middle;
    }
}