.favorites table td:nth-child(-n+3),
.favorites table th:nth-child(-n+3) {
    text-align: left;
}

.favorites-table {
    width: 100%;
}

.favorites table textarea {
    height: 60px;
    width: 100%;
}

.favorites textarea {
    resize: none;
    padding: 5px;
}

.favorites .mobile-layout {
    display: none;
}

.favorites .mobile-layout .goods-header {
    position: relative;
}

.favorites .mobile-layout .goods-header p {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
}

.favorites .mobile-layout .goods-header p:first-child {
    padding-bottom: 0;
}

.favorites .mobile-layout .goods-header .fa-camera {
    position: absolute;
    right: 20px;
    top: -10px;
    color: #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ebf0f1;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

.favorites .mobile-layout .good {
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px dashed #c8c8c8;
}

.favorites .mobile-layout .good:first-child {
    padding-top: 0;
}

.favorites .mobile-layout .good .goods-footer {
    position: relative;
}

.favorites .mobile-layout .good .goods-footer textarea {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    height: 100px;
}

.favorites .mobile-layout .good .goods-footer span.delete-btn {
    position: absolute;
    text-align: center;
    right: 25px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 1.5em;
}

#add-to-favorits.added:before {
    content: 'Удалить из избранного';
}

html {
    height: 100%;
    box-sizing: border-box;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

b.brend_info {
    font-weight: 700;
    cursor: pointer;
}

.fa-camera:before {
    content: "\f030";
    font-size: 22px;
}

table#item_into {
    display: none;
}

.ionTabs {
    position: relative;
    margin-top: 30px;
}

span.subprice {
    display: block;
    line-height: 0;
    font-size: 12px;
    color: #00aafb;
    font-weight: 700;
}

.ionTabs__head {
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff;
}

.ionTabs__head:before, .ionTabs__head:after {
    content: "";
    display: table
}

.jq-checkbox.checked:after {
    content: "";
}

.ionTabs__head li {
    height: inherit;
    color: #fff;
    padding: 0 20px;
    line-height: 42px;
    text-align: center;
}

.info_btn, .input-wrap, .input-wrap input, .input-wrap label, .ionTabs__head li {
    display: inline-block;
}

.jq-checkbox.checked:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    background: #0082BF
}

.ionTabs__head:after {
    clear: both
}

.ionTabs__tab {
    position: relative;
    display: block;
    float: left;
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.ionTabs__head li.ionTabs__tab_state_active:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ionTabs__tab.ionTabs__tab_state_active {
    cursor: default;
    background: #0069A3;
    position: relative;
}

.ionTabs__body {
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

.ionTabs__item {
    position: relative;
    display: none
}

.ionTabs__item.ionTabs__item_state_active {
    display: block
}

.ionTabs__preloader {
    position: relative
}
@media screen and (max-width: 800px){

}
    @media screen and (max-width: 550px) {
    .favorites table.favorites-table {
        display: none;
    }

    .favorites .mobile-layout {
        display: block;
    }
}