.items .content {
    margin-top: 20px;
}

.items .content .item {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px dashed #bdbdbd;
    flex: 0 0 440px;
}

.items .content .item:hover {
    border: 1px solid #bdbdbd;
}

.items .content .item .img, .items .content .item .description {
    float: left;
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.items .content .item .img {
    padding: 10px;
    padding-top: 0;
    margin-top: 20px;
}

.items .content .item .img img {
    width: 100%;
    object-fit: contain;
}

.items .content .item .description .parametrs {
    margin: 20px 0;
}

.items .content .item .description .parametrs p {
    font-size: 14px;
}

.items .content .item .restore-item {
    padding-right: 30px;
    font-size: 14px;
}

.items .content .item .remove-item, .items .content .item .edit-item {
    padding-left: 30px;
    font-size: 14px;
}

.items .content .active-tab .item .remove-item {
    float: right;
}

.items .content .not-active-tab .item {
    opacity: .5;
}

.items .content .not-active-tab .item .restore-item {
    float: right;
}

.items .content .not-active-tab .item .remove-item {
    float: left;
}

.items .content .not-active-tab .item:hover {
    opacity: 1;
}

.items .content .list-view {
    display: none;
}

.items .content .list-view table {
    width: 100%;
}

.items .content .list-view th {
    padding: 0 10px;
    height: 42px;
    background: #0082BF;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
}

.items .content .list-view th:first-child {
    text-align: left;
    padding-left: 20px;
}

.items .content .list-view tr {
    border: none;
    height: 42px;
    text-align: center;
}

.items .content .list-view tr:nth-child(2n) {
    background: #fff;
}

.items .content .list-view tr:nth-child(2n+1) {
    background: #F3F3F3;
}

.items .content .list-view td:first-child {
    text-align: left;
    padding-left: 20px;
}

.items .content .list-view table.middle-view {
    display: none;
}

.items .content .list-view table.small-view {
    display: none;
}

#main > div > div.content > div.mosaic-view > div > div.item > a:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mosaic-view .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.option-panel .view-switchs .mosaic-view-switch,
.option-panel .view-switchs .list-view-switch {
    position: relative;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: inherit;
    width: 52px;
    cursor: pointer;
}

.option-panel .view-switchs .mosaic-view-switch img,
.option-panel .view-switchs .list-view-switch img {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.option-panel .view-switchs .mosaic-view-switch.active,
.option-panel .view-switchs .list-view-switch.active {
    background: #0069A3;
    position: relative;
}

.option-panel .view-switchs .mosaic-view-switch.active:after,
.option-panel .view-switchs .list-view-switch.active:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.filter-form .search-wrap, .filter-form input, table {
    width: 100%;
}

.search-wrap .search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url(/img/icons/search_gray.png) center no-repeat;
}

.option-panel {
    position: relative;
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff;
}

.option-panel a.active {
    background: #0069A3;
    position: relative;
}

.option-panel a {
    display: inline-block;
    height: inherit;
    color: #fff;
    line-height: 42px;
    text-align: center;
    padding: 0 20px;
    text-transform: uppercase;
}

.option-panel a.active:before {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.option-panel a {
    display: inline-block;
    height: inherit;
    color: #fff;
    line-height: 42px;
    text-align: center;
    padding: 0 20px;
    text-transform: uppercase;
}

.option-panel .view-switchs {
    width: 104px;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 5px solid #fff;
    height: inherit;
}

.garage .add_ts {
    display: none;
}

#to_garage.added::before {
    content: 'Добавлено в гараж'
}

#to_garage button {
    background: url(/img/icons/garage_open.png) no-repeat center, #0069a0;
    width: 35px;
    height: 35px;
    background-size: 80%;
}

#to_garage button.is_garaged {
    background: url(/img/icons/garage_closed.png) no-repeat center, #0081bc;
    background-size: 80%;
}

#to_garage {
    float: right;
    cursor: pointer;
}

#to_garage::before {
    content: 'Добавить в гараж';
    font-size: 15px;
    position: relative;
    top: -9px;
}

.filter-form {
    border: none;
    padding: 0;
    width: auto;
    float: none;
    margin-bottom: 20px;
    max-width: 500px;
}

.search-wrap {
    position: relative;
    min-width: 250px;
}

.not-active-tab {
    display: none;
}

.button.change_ts {
    float: none;
    display: inline-block;
    margin-bottom: 30px;
}

.ts-info h1 {
    text-transform: none;
}

.ts-info .img-and-name {
    width: 350px;
    height: 270px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    position: relative;
}

.ts-info .note {
    padding-left: 30px;
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 350px);
    height: 270px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    position: relative;
}
.ts-info .note:before, .ts-info .note:after {
    position: absolute;
    content: "";
    border: 1px solid #c8c8c8;
}
.ts-info .note:before {
    top: 40px;
    bottom: auto;
    left: 11px;
    border-width: 20px 20px 20px 0;
    border-color: transparent #c8c8c8;
}

.ts-info .note textarea {
    outline: none;
    width: 100%;
    height: 220px;
    margin-bottom: 13px;
    resize: none;
}

.ts-info .note:after {
    top: 40px;
    bottom: auto;
    left: 12px;
    border-width: 20px 20px 20px 0;
    border-color: transparent #fff;
}

.switch, .wrapper, form .input_box{
    position: static;
}
.mfp-content{
    padding: 10px;
}
.mfp-content table tr td {
    padding: 5px 0;
}
.mfp-content .wrapper form input {
    width: 100%;
}
.mfp-content table tr {
    border: none;
}

@media screen and (max-width: 1100px) {
    .items .content .list-view table.wide-view {
        display: none;
    }

    .items .content .list-view table.middle-view {
        display: table;
    }
}

@media only screen and (max-width: 750px) {
    .garage .filter-form {
        display: block;
    }

    #main > div > a .garage .add_ts {
        display: block;
    }

    .garage .filter-form {
        width: 95%;
        z-index: 1000;
    }

    .garage .items {
        z-index: 1;
        width: 100%;
        padding-left: 0;
    }

    .garage .items .option-panel {
        margin-top: 20px;
    }

    .garage .items .item {
        padding: 5px;
    }
}

@media screen and (max-width: 550px) {
    #main {
        padding: 0 5px;
    }
    .items .content .item{
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 415px) {
    .items .content {
        margin-top: 60px;
    }

    .items .content .item .restore-item,
    .items .content .item .remove-item {
        padding: 0;
    }

    .items .content .list-view table.middle-view {
        display: none;
    }

    .items .content .list-view table.small-view {
        display: table;
    }

    .items .content .list-view table.small-view .remove-item {
        float: right;
    }

    .items .content .list-view table.small-view td {
        padding-left: 0;
        padding-bottom: 10px;
    }

    .option-panel .view-switchs {
        width: auto;
        position: relative;
        margin: 14px 0 10px 0;
        padding-left: 140px;
    }

    .option-panel .view-switchs .view-switch {
        background: #f3f3f3;
        margin-right: 10px;
    }

    .option-panel .view-switchs .view-switch.active {
        background: #0069A3;
    }

    .option-panel .view-switchs .view-switch.active:after {
        content: none;
    }

    .option-panel:before {
        display: block;
        content: "Отобразить как: ";
        position: absolute;
        top: 66px;
        left: 10px;
    }
}

