.ionTabs__tab {
    display: block;
    background: 0 0;
    padding: 0;
    float: left;
}
.ionTabs__head {
    display: block;
    padding: 0;
    z-index: 1;
    zoom: 1;
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}
.ionTabs__head, .ionTabs__tab {
    margin: 0;
    list-style-type: none;
}
.ionTabs__head {
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff;
}
.ionTabs__head:after, .ionTabs__head:before {
    content: "";
    display: table;
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}
.ionTabs__head, .ionTabs__tab {
    margin: 0;
    list-style-type: none;
}
.ionTabs__tab, .mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
.ionTabs__tab.ionTabs__tab_state_active {
    cursor: default;
    color: white;
}
.ionTabs__head li {
    height: inherit;
    color: #fff;
    padding: 0 20px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}
.ionTabs__head li.ionTabs__tab_state_active {
    background: #0069A3;
    position: relative;
}
.ionTabs__head li.ionTabs__tab_state_active:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 8px solid #8cdaff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}
.ionTabs__body {
    margin-top: 10px;
    padding: 10px;
}
.ionTabs__item.ionTabs__item_state_active {
    display: block;
}
.ionTabs__item {
    display: none;
}
.ionTabs, .ionTabs__body, .ionTabs__head, .ionTabs__item, .ionTabs__preloader, .ionTabs__tab {
    position: relative;
}