



dd, dt {
    line-height: 1.9;
    float: left
}
dd, strong {
    font-weight: 700
}




blockquote, q {
    quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}
.checkbox-wrap label:before, .date-wrap .calendar-icon, .info:before, .jq-checkbox.checked:after, .pseudo-select:after {
    content: ""
}
dl {
    width: 100%;
    padding: 0;
    margin: 0
}
dt {
    width: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right
}
.input-wrap, dd {
    -webkit-box-sizing: border-box
}
dd {
    width: -webkit-calc(100% - 20%);
    width: calc(100% - 20%);
    box-sizing: border-box;
    padding-left: 10px
}
dl dd:nth-of-type(2n+1), dl dt:nth-of-type(2n+1) {
    background: #F0F0F0
}
.fa-star, .fa-star-half-o, .fa-star-o {
    color: gold
}
.input-wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin: 5px 0
}
.input-wrap label {
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px
}
ul.list {
    margin-left: 30px
}
ul.list li {
    list-style-type: square;
    padding-bottom: 10px
}
::-webkit-input-placeholder {
    color: #666;
    opacity: 1
}
:-moz-placeholder {
    color: #666;
    opacity: 1
}
::-moz-placeholder {
    color: #666;
    opacity: 1
}
:-ms-input-placeholder {
    color: #666;
    opacity: 1
}
ol {
    list-style: decimal
}
.ionTabs {
    margin-top: 30px
}
.ionTabs__head {
    height: 42px;
    background: #0082BF;
    border-bottom: 5px solid #8cdaff
}


.ionTabs__body {
    margin-top: 10px;
    padding: 10px
}
span[class^=icon_] {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center
}
.icon_put-in-basket {
    width: 26px;
    height: 26px;
    background: url(/img/icons/info.png);
    background-size: 18px;
}
.icon_heart {
    width: 26px;
    height: 23px;
    background: url(/img/icons/icon_heart.png)
}
.icon_search {
    width: 25px;
    height: 25px;
    background: url(/img/icons/icon_search.png)
}
.info_btn {
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url(/img/icons/registration__info_icon.png) center top no-repeat;
    cursor: pointer
}
.info_btn:hover {
    background: url(/img/icons/registration__info_icon.png) center bottom no-repeat
}
.info, .info_btn .infotext {
    padding: 15px;
    width: 320px;
    background: #fff;
    position: absolute
}
.info_btn:hover .infotext {
    visibility: visible;
    opacity: 1
}
.info_btn .infotext {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    bottom: 100%;
    left: 50%;
    margin: 0;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5)
}
.date-wrap input:disabled+.calendar-icon, input:disabled {
    opacity: .5
}
.info {
    box-sizing: border-box;
    top: 40px;
    left: 0;
    z-index: 998
}
.info:before {
    display: block;
    width: 18px;
    height: 9px;
    background: url(/img/icons/header__white_arrow_up.png) center no-repeat;
    position: absolute;
    top: -9px
}


body input:focus:required:invalid, body input:required:valid, body textarea:focus:required:invalid, body textarea:required:valid {
    color: #666
}



.pickmeup {
    z-index: 2
}
.sender {
    font-weight: 700;
    padding-bottom: 0;
    color: #0082BF
}
.send-time {
    color: #727272;
    font-size: 12px
}
.product-popup .count-block {
    height: 34px;
    position: absolute;
    bottom: 78px;
    left: 269px;
    z-index: 1;
}
.count-block .minus, .count-block .plus {
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: #0082BF;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-size: 30px
}

.checkbox-wrap {
    display: inline-block;
    margin: 25px 0
}
.checkbox-wrap label {
    margin: 0 20px 0 0;
    padding: 0 0 0 30px;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    cursor: pointer;
    position: relative
}

.checkbox-wrap label:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #0081bc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0
}
.checkbox-wrap input[type=radio]:checked+label:before {
    background: #0081bc;
    -webkit-box-shadow: 0 0 0 5px #fff inset
}
.checkbox-wrap input[type=radio] {
    display: none
}
.date-wrap, .date-wrap input, .pseudo-select, .search-wrap {
    display: inline-block
}
.date-wrap {
    width: 110px;
    position: relative
}
.date-wrap input {
    font-size: 12px;
    position: relative;
    z-index: 1;
    background: 0 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 100%;
    border: 1px solid #0082BF
}

.date-wrap .calendar-icon {
    z-index: 0;
    top: 2px;
    right: 2px;
    width: 30px;
    height: -webkit-calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    background: url(/img/icons/calendar-icon.png) center center no-repeat, #0082BF
}

.filter-form, .pseudo-select {
    -webkit-box-sizing: border-box
}
.important, .negative-color {
    color: red;
    white-space: nowrap;
    text-align: center;
}
.positive-color {
    color: #00af08;
    white-space: nowrap;
}

input[type=file] {
    border: none
}
textarea {
    padding: 20px
}
.search-wrap {
    position: relative;
    min-width: 250px
}
.search-wrap input {
    width: 100%
}
.search-wrap .search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url(/img/icons/search_gray.png) center no-repeat
}
.pseudo-select {
    text-align: left;
    width: 170px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #0082BF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f;
    height: 34px;
    vertical-align: middle;
    margin-top: -3px;
    line-height: 34px;
    position: relative
}
.pseudo-select:after {
    width: 40px;
    height: 100%;
    background: url(/img/icons/select__arrow_down.png) center center no-repeat, #0082BF;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer
}

.pseudo-select.opened:after {
    background: url(/img/icons/select__arrow_up.png) center center no-repeat, #0082BF
}

.filter-form {
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    padding: 30px;
    width: 330px;
    float: left
}


.filter-form h3 {
    margin-bottom: 20px
}
.filter-form p {
    margin: 10px 0
}




.breadcrumbs {
    margin-bottom: 30px
}
.breadcrumbs a:after {
    content: "→";
    padding: 0 5px;
    vertical-align: text-top;
    color: #727272;
    text-decoration: none;
    display: inline-block
}
table td:first-child, table th:first-child {
    text-align: left;
}
.jq-selectbox, table td, table th {
    vertical-align: middle
}

.status-wrap .label, .switch {
    display: inline-block;
    height: 20px
}
.status-wrap {
    width: 180px
}
.status-wrap .label {
    float: left;
    padding: 5px 0
}
.status-wrap .switch {
    float: right;
    margin-top: 5px
}
.switch {
    width: 34px
}
.switch input {
    display: none
}
.slider {
    border: 1px solid #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    right: 2px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}
input:checked+.slider {
    border: 1px solid #0082BF
}
input:checked+.slider:before {
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    transform: translateX(-14px);
    background: #0082BF
}
.slider.round {
    -webkit-border-radius: 20px;
    border-radius: 20px
}
.slider.round:before {
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.LBwU-_BE0gM5pPfAuH72E {
    padding-bottom: 0px !important
}


#news a, #news img{
    display: block
}



#news {
    float: left;
    margin: 0 34px 0 0;
    z-index: 888
}
#news h3 {
    display: none
}
#news a {
    margin: 0 0 30px;
    text-decoration: none;
    position: relative;
}
#news a:last-child {
    margin: 0
}
#news img {
    width: 100%;
    height: auto;
    border: none
}
#news .news_date, #news .news_title {
    height: 60px;
    color: #fff;
    position: absolute;
    bottom: 0;
    display: block
}
#news .news_date {
    width: 108px;
    background: rgba(0, 129, 188, .5);
    font-weight: 500;
    font-size: 14px;
    line-height: 62px;
    text-align: center;
    left: 0
}
#news .news_title {
    box-sizing: border-box;
    padding: 12px 22px 0;
    width: -webkit-calc(100% - 108px);
    width: calc(100% - 108px);
    background: rgba(0, 0, 0, .5);
    font-size: 16px;
    line-height: 18px;
    right: 0
}
#news .news_title.one_row {
    padding: 0 22px;
    line-height: 60px
}


select:not([disabled]) ~.jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger, select:not([disabled]) ~.jq-selectbox__select:hover .jq-selectbox__trigger {
    background: url(/img/icons/select__arrow_down.png) 16px center no-repeat #0081BC
}


.h_overlay {
    height: 75px;
    z-index: 1000
}
.overlay {
    height: 100%;
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    z-index: 997
}
.overlay.none_bg {
    background: 0 0
}

.login p {
    font-size: 14px;
    line-height: 14px;
    color: #5f5f5f;
    clear: both;
}
/* Extra Small Devices, Phones */
@media screen and (max-width: 550px) {
    #actions_slider .prev, #actions_slider .next {
        width: 68px;
        height: 68px; }
    #actions_slider .prev:before, #actions_slider .next:before {
        height: 68px; }
    #actions_slider .prev:after, #actions_slider .next:after {
        height: 66px; }
    #actions_slider .prev_btn, #actions_slider .next_btn {
        width: 66px;
        height: 66px; }
    .comments-block {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    #main {
        padding: 0 5px; }

    header .login {
        width: 100%; }
    header .login h3 {
        display: none; }
    header .login p {
        padding-bottom: 0;
    }
    header .login input[type="text"],
    header .login input[type="password"] {
        margin-bottom: 10px;
        width: -webkit-calc(100% - 110px);
        width: calc(100% - 110px); }
    #order_special{
        display: none;
    }
    .button.change_ts {
        margin-left: 20px; }
    .ts-info {
        padding: 20px; }
    .ts-info .img-and-name,
    .ts-info .note {
        width: 100%;
        height: auto; }
    .ts-info .img-and-name label,
    .ts-info .img-and-name button {
        bottom: -320px; }
    .ts-info .note {
        padding-left: 0;
        height: 250px; }
    .ts-info .note:before {
        top: -19px;
        left: -webkit-calc(50% - 20px);
        left: calc(50% - 20px);
        border-width: 0 20px 20px;
        border-color: #c8c8c8 transparent; }
    .ts-info .note:after {
        top: -18px;
        left: -webkit-calc(50% - 20px);
        left: calc(50% - 20px);
        border-width: 0 20px 20px;
        border-color: #fff transparent; }
    table.hit-list-table th:nth-child(4), table.hit-list-table th:nth-child(5),
    table.hit-list-table td:nth-child(4),
    table.hit-list-table td:nth-child(5) {
        display: none; }
    .favorites table.favorites-table {
        display: none; }
    .favorites .mobile-layout {
        display: block; }
    .search-result .mobile-layout {
        display: block; }
    .search-result .articul-table {
        display: none; }
    #selected-ts-tabs {
        margin-top: 100px; }
    .ionTabs__head li {
        font-size: 12px;
        padding: 0 5px;
    }
    .ionTabs__head li:nth-child(n + 2) {
        padding-right: 21px
    }
    .ionTabs__body {
        padding: 0; }
    #order-filter-form {
        text-align: left; }
    #order-filter-form .search-wrap {
        width: 100%; }
    #order-filter-form .checkbox-wrap {
        margin-left: 0;
        display: block; }
    #order-filter-form .pseudo-select {
        margin-left: 0;
        margin-top: 20px;
        display: block; }
    .end-calendar {
        position: absolute;
        left: 65px !important; }
    .info_btn .infotext {
        right: 10px;
        left: auto; }
    .for_suppliers-page .input-wrap {
        width: 93%; }
    .for_suppliers-page .input-wrap label {
        width: 100%;
        padding-bottom: 5px;
        text-align: left; }
    .for_suppliers-page .input-wrap input {
        width: 100%; }
    .for_suppliers-page .input-wrap .info_btn {
        top: 28px;
        right: -22px; }
    .for_suppliers-page .input-wrap .info_btn .infotext {
        right: 10px;
        left: auto; }
    .for_suppliers-page #supplier-common-info .logo-wrap button {
        right: 0; }
    .search-result #offers-filter-form .price-wrap,
    .search-result #offers-filter-form .time-wrap,
    .search-result #offers-filter-form .instock-wrap {
        display: block; }
    .payment .balance-block {
        padding: 0;
        padding-left: 20px;
        padding-bottom: 20px; }
    .payment .balance-block h1 {
        margin-bottom: 20px; }
    .payment .pay-method-wrap .pay-methods {
        margin-bottom: 0; }
    .payment .pay-method-wrap .method {
        width: 100px; }
    .payment .pay-block-wrap .pay-block {
        padding: 15px;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
    .payment .pay-block-wrap .pay-block button {
        margin-left: 50px; }
    .news-page .mosaic-view .item {
        width: 100%;
        margin: 10px 0; }
    .news-page .mosaic-view .item:nth-child(2n), .news-page .mosaic-view .item:nth-child(3n) {
        width: 100%;
        margin: 10px 0; }
    .news-page .list-view .tab {
        position: relative;
        top: 10px; }
    .messages-page table th:first-child {
        width: 160px; }
    .send-message .input-wrap label {
        width: 100%;
        text-align: left; }
    form#send-message .info {
        left: 0; }
    form#send-message .info:before {
        left: 123px; }
    .sending-page .summary {
        text-align: left; }
    .sending-page table.middle-view {
        display: none; }
    .sending-page table textarea{
        max-width: none !important;
    }
    .sending-page table.small-view {
        display: table; }
    .sending-page table.small-view textarea {
        margin-top: 10px;
        width: 100%; }
    .sending-page table.small-view p {
        padding-bottom: 0; }
    .catalogue-original .option-panel .view-switchs {
        display: none; }
    .catalogue-original .filter-form .input_box {
        width: 100%;
        float: none;
        padding-right: 0; }
    .catalogue-original .item-info-block .img {
        width: 100%; }
    .catalogue-original .item-info-block .description {
        width: 100%;
        margin-left: 0;
        margin-top: 20px; }
    .catalogue-original .option-panel .breadcrumbs {
        left: 5px;
        top: 0; }
    .catalogue-original .items .content .list-view {
        display: block; }
    .catalogue-original .items .content .item {
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
        text-align: center; }
    .catalogue-original .mosaic-view {
        display: none; }
    .catalogue-original .list-view {
        display: block; }
    .catalogue-original .list-view .tree-structure {
        width: 100%;
        margin-bottom: 20px; }
    .catalogue-original .list-view .items {
        width: 100%;
        margin-left: 0; }
    .catalogue-original .list-view .items .item {
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
        margin-bottom: 10px; }
    .catalogue-original-unit .content table th:nth-child(3),
    .catalogue-original-unit .content table td:nth-child(3) {
        display: none; }
    .models .content .items .item {
        width: 25%; }
    .models .content .list-view .name-block {
        width: 50%; }
    .cart-popup {width: 100% !important;
        left: 0 !important;}
    .cart-popup:before {
        right: 110px;
        display: none; }
}

@media screen and (max-width: 415px) {
    header .profile, header .settings {
        right: 50%;
        margin-right: -webkit-calc(375px/2*(-1));
        margin-right: calc(375px/2*(-1)); }
    #main .login {
        width: 100%; }
    #main .login input[type="text"] {
        width: -webkit-calc(100% - 25px);
        width: calc(100% - 25px); }
    #main .login input[type="password"] {
        float: none;
        margin: 8px 0;
        width: -webkit-calc(100% - 25px);
        width: calc(100% - 25px); }
    #main .login .forgot_password {
        float: none;
        margin: 15px 0;
        padding: 0;
        width: auto;
        height: auto;
        line-height: 14px; }
    .registration .user_type label {
        margin: 0 15px 0 0;
        font-size: 16px; }
    .date-wrap {
        width: 127px; }
    .models .content .items .item {
        width: 33.33333333%; }
    .auto-types .content .items .item {
        width: 100%; }
    .items .content {
        margin-top: 60px; }
    .items .content .item .restore-item,
    .items .content .item .remove-item {
        padding: 0; }
    .items .content .list-view table.middle-view {
        display: none; }
    .items .content .list-view table.small-view {
        display: table; }
    .items .content .list-view table.small-view .remove-item {
        float: right; }
    .items .content .list-view table.small-view td {
        padding-left: 0;
        padding-bottom: 10px; }
    .catalogue-original .option-panel .view-switchs {
        display: none; }
    .catalogue-original .option-panel:before {
        content: none;
        display: none; }
    .cart-popup:before {
        right: 25px; }
    .account .sidebar .balance-block,
    .account .sidebar .account-history-block {
        padding: 10px; }
    .account #account-history-tabs .buttons button {
        float: left;
        margin-bottom: 10px; }
    table.basket-table.small-view .price .important {
        font-size: 14px; }
    table.basket-table.small-view .count-block {
        margin-right: 10px; }
    table.basket-table.small-view .count-block input {
        width: 40px;
        padding: 7px; }
    .catalogue-original .option-panel .breadcrumbs {
        width: 100%;
        overflow: scroll; }
    .catalogue-original .items .content {
        margin-top: 20px; }
    footer .contacts .item_box {
        width: 340px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 5px; }
    footer .contacts .social_networks {
        width: 340px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .cart-popup:before {
        right: 55px; }
    footer .contacts .item_box,
    footer .contacts .social_networks {
        width: 320px; }
    footer .contacts .item_box {
        font-size: 15px; } }
#mgn_popup .product-popup-tabs {
    margin-top: 0
}
.product-popup {
    max-width: 900px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 30px;
    position: relative;
    margin: 0 auto;
}
.mfp-content {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    vertical-align: middle;
}
.product-popup {
    max-width: 900px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 30px;
    position: relative; }
.product-popup h2.title {
    color: #0081bc;
    text-transform: uppercase; }
.product-popup .price {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: #0082BF; }
.product-popup .mobile-price {
    display: none; }
.product-popup .gallery-block {
    width: 200px;
    float: left;
    position: relative;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block; }
.product-popup .gallery-block #main-pic {
    cursor: pointer;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    position: relative; }
.product-popup .gallery-block #main-pic:after {
    -webkit-transition: opacity .3s, font-size .5s;
    transition: opacity .3s, font-size .5s;
    content: "\f00e";
    font-family: fontAwesome;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: .5; }
.product-popup .gallery-block #main-pic:hover:after {
    opacity: 1;
    font-size: 1.3em; }
.product-popup .gallery-block #main-pic img {
    width: 100%;
    object-fit: cover; }
.product-popup .gallery-block .rating {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;}
.product-popup .gallery-block .rating .fa {
    font-size: 2em; }
.product-popup .gallery-block #gallery img {
    cursor: pointer; }
.product-popup .gallery-block #gallery img:hover {
    outline: 1px solid #c8c8c8; }
.product-popup .gallery-block #gallery .owl-stage-outer {
    z-index: 2;
    padding: 5px 0; }
.product-popup .gallery-block #gallery .owl-controls {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav {
    height: 100%; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-prev,
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-next {
    height: 100%;
    width: 15px;
    position: absolute;
    background: #0082BF;
    -webkit-transition: all ease .5s;
    transition: all ease .5s; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-prev:hover,
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-next:hover {
    background: #0069A3; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-prev:before,
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-next:before {
    display: block;
    width: inherit;
    line-height: 100%;
    color: #fff;
    font-size: 20px;
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-prev {
    left: -15px; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-prev:before {
    content: "\f104"; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-next {
    right: -15px; }
.product-popup .gallery-block #gallery .owl-controls .owl-nav .owl-next:before {
    content: "\f105"; }
.product-popup .description-block {
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    position: relative;
    min-height: 34px; }
.product-popup .description-block .ionTabs__body {
    margin: 10px 0;
    max-height: 252px;
    overflow-y: auto;
    overflow-x: hidden;
}
.product-popup .description-block .ionTabs__body p:first-child {
    margin-top: 0;
    padding-top: 0; }
.product-popup .buttons {
    margin-top: 50px; }
.product-popup .buttons button {
    float: left;
    margin-right: 10px;
    height: 39px;
    position: relative;
    padding-left: 40px; }
.product-popup .buttons button span {
    position: absolute;
    left: 5px;
    padding-top: 6.5px;
    padding-right: 5px;}

#brend_info b{
    font-weight: 700;
}
#brend_info{
    padding: 10px;;;
}
#brend_info table{
    width: auto;
    border-spacing: 10px;
}
#brend_info table td {
    text-align: left;
}
#brend_info table tr{
    border: none;
}
#brend_info table tr td{
    padding: 10px;
}
.description-block li i.fa{
    display: none;
}
.description-block li[data-target=Tab_1_name]:before{
    content: 'Описание';
}
.description-block li[data-target=Tab_2_name]:before{
    content: 'Характеристики';
}
.description-block li[data-target=Tab_3_name]:before{
    content: 'Применяемость';
}
@media screen and (max-width: 800px){
    .description-block .ionTabs__head{
        height: 50px;
    }
    .description-block li{
        padding: 0px !important;
        width: 70px !important;
    }
    .description-block li[data-target=Tab_1_name]:before,
    .description-block li[data-target=Tab_2_name]:before,
    .description-block li[data-target=Tab_3_name]:before{
        display: none;
    }
    .description-block li i.fa{
        display: block;
        font-size: 36px;
        margin-top: 4px;
    }
}
#pic img{
    margin: 0 auto;
    display: block;;
}
#div_10{
    width: calc(100% - 238px);
    float: left;;
}
@media screen and (max-width: 770px){
    .product-popup .buttons button:nth-child(3){
        margin-top: 10px;
    }
}
@media screen and (max-width: 547px){
    .product-popup .buttons button{
        width: 240px;
        margin: 0 auto;
        display: block;
        float: none !important;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 544px){
    #search-same{
        margin-top: 0px;
    }
}
@media screen and (max-width: 600px){
    #div_10{
        float: none;
        width: 100%;
    }
    #div_table{
        float: none !important;
        margin: 10px auto !important;;
    }
    #full-image .img-wrap{
        width: calc(100% - 40px);
        max-height: 80%;
        overflow: hidden;
    }

    .img-wrap{
    }
}
.page-wrap {
    position: relative;
    z-index: 1;
}
footer{
    position: relative;
    z-index: 1 !important;
}
/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:100%;
    background:url(/img/totop.png) no-repeat left top;
    z-index: 2;
}

#toTopHover {
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}

#driving_direction{
    color: white;
}
#full-image #map{
    float: none;
    width: auto;
}
@media screen and (max-width: 1100px){
    footer .shop {
        width: -webkit-calc((100% - 310px)/ 100*53);
        width: calc((100% - 40px)/ 100*53);
    }
    footer {
        height: auto;
    }
    footer .information {
        margin: 0 0 0 40px;
        width: -webkit-calc((100% - 310px)/ 100*47);
        width: calc((100% - 40px)/ 100*47);
    }
}
@media screen and (max-width: 1490px){
    footer .item {
        padding: 30px 20px 30px 0;
    }
    footer .contacts {
        float: none;
        clear: both;
        margin: 0;
        padding: 35px 40px;
        width: 100%;
        height: auto;
        background: #0081bc;
    }
}
@media screen and (max-width: 880px){
    footer .catalog_list {
        float: left;
        margin: 0 0 0 40px;
        padding: 0 20px 30px 0;
        clear: both;
        width: -webkit-calc((100% - 40px)/ 100*48);
        width: calc((100% - 40px)/ 100*48);
    }
    footer .partnership {
        float: left;
        clear: none;
        margin: 0;
        padding: 0 20px 30px 0;
        width: -webkit-calc((100% - 40px)/ 100*52);
        width: calc((100% - 40px)/ 100*52);
    }
}
@media screen and (max-width: 550px){
    footer .information, footer .shop, footer .catalog_list, footer .partnership {
        margin: 0;
        padding-top: 30px;
        width: auto;
    }
    footer .partnership {
        float: left;
        clear: none;
        margin: 0;
        padding: 0 20px 30px 0;
        width: -webkit-calc((100% - 40px)/ 100*52);
        width: calc((100% - 40px)/ 100*52);
    }
    footer .contacts .item_box {
        width: 340px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 415px){
    footer .contacts .item_box {
        width: 340px;
        float: none;
    }
}



.mfp-hide {
    display: none !important;
}