@charset "UTF-8";
@font-face {
    font-family: 'icomoon';
    src: url('/admin/fonts/icomoon.eot?hphanj');
    src: url('/admin/fonts/icomoon.eot?hphanj#iefix') format('embedded-opentype'),
    url('/admin/fonts/icomoon.ttf?hphanj') format('truetype'),
    url('/admin/fonts/icomoon.woff?hphanj') format('woff'),
    url('/admin/fonts/icomoon.svg?hphanj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

ol, ul {
    list-style: none
}

body {
    font-size: 16px;
    position: relative;
    min-width: 320px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    padding: 75px 0 0;
    color: #727272;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1
}

.breadcrumbs a, .breadcrumbs span, .filter-form h3, h1, h3, h4, header .catalog a, header .profile a, table th {
    text-transform: uppercase
}

hr {
    border-style: dashed;
    border-color: #ccc
}

.icon-tab:before {
    content: "\ea45"
}

table th {
    vertical-align: middle;
}

a.button, button, input[type=submit], input[type=reset] {
    float: left;
    line-height: 34px;
    height: 34px;
    border: none;
    padding: 0 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #0082bf;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    outline: 0;
    cursor: pointer;
    text-decoration: none
}

h1 {
    font-size: 30px;
    margin-bottom: 30px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 22px;
    margin-bottom: 10px
}

h4 {
    font-size: 14px;
    margin-bottom: 15px
}

h1 + p, h3 + p {
    padding-top: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table th {
    padding: 0 10px;
    height: 42px;
    background: #0082BF;
    color: #fff
}

table tr {
    text-align: center;
    border-bottom: 1px dashed #c8c8c8
}

table tr:first-child {
    border: none
}

table td {
    padding: 20px 0
}

table td.name-col a {
    padding-right: 5px
}

form .input_box {
    margin: 0 0 20px
}

form input {
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    height: 34px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f
}

form input:hover {
    cursor: pointer;
}

.hints {
    display: none;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    position: absolute;
    top: 75px;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.hints table tr.active {
    background: #d8f4fd;
}

.hints table {
    width: 100%;
    padding: 0 20px;;
}

.hints table tr {
    border: none;
}

.hints table td {;
    text-align: left;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.hints table.previous_search, .hints table.coincidences {
    display: none;
}

a.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover {
    background: #0069a3;
    text-decoration: none
}

.hints a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 32px;
    color: #0069a3;
    text-decoration: none;
    outline: 0;
    display: block;
    white-space: nowrap;
}

button {
    float: none
}

.jq-selectbox, table td, table th {
    vertical-align: middle;
}

table td:first-child, table th:first-child {
    text-align: left;
}

input[type=number] {
    text-align: center
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input {
    height: 34px
}

a {
    color: #0081bc;
    text-decoration: none;
    outline: 0
}
p {
    padding: 10px 0
}

input, textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f
}

.pseudo-select, form input, input, textarea {
    font-weight: 300;
    font-size: 16px
}

.date-wrap + span, input, textarea {
    padding: 0 10px
}

.pseudo-select, input, textarea {
    font-family: Roboto, sans-serif
}

#popup {
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(228, 238, 244, 0.75);
}

#popup img {
    width: 75px;
    height: 75px;
}

#message {
    position: fixed;
    top: 20px;
    align-items: center;
    z-index: 10000;
    color: white;
    justify-content: center;
    width: 100%;
    display: none;
}

#message > div {
    align-items: center;
    z-index: 1000;
    color: white;
    justify-content: center;
    width: 100%;
    display: flex;
}

#message > div > div {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
    display: flex;
}

header {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    background: #0081bc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999
}
header #debt {
    background: #f45f5f;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    padding: 5px 0;
    text-align: center;
    color: white;
    font-size: 13px;
}

header .catalog_btn {
    margin: 27px 37px 0 4px;
}

header .wrapper {
    min-width: auto
}

.login .social_buttons {
    padding: 22px 0 0 0;
    border-top: 1px solid #c8c8c8;
}

.login {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 375px;
    background: #fff;
}

header .login {
    display: none;
    padding: 23px 0 22px 26px;
    position: absolute;
    top: 75px;
    right: 0;
}

header .login .social_buttons {
    margin: 22px 26px 0 0;
    clear: both;
}

header .logo {
    display: block;
    float: left;
    position: relative;
    margin: 14px 0 0 -9px;
    width: 200px;
    height: 47px;
    background: url(/img/icons/header__logo.png) center no-repeat;
    outline: 0
}

.login h3 {
    padding: 0 0 22px 0;
    font-size: 24px;
    line-height: 24px;
    color: #737373;
}

.login p {
    font-size: 14px;
    line-height: 14px;
    color: #5f5f5f;
    clear: both;
}

.login input[type="text"],
.login input[type="password"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 7px 0 22px 0;
    padding: 0 10px;
    width: 235px;
    height: 34px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    outline: none;
}

.login input[type="password"] {
    float: left;
    margin: 8px 0 20px 0;
}

.login .forgot_password {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 7px 0 0 14px;
    padding: 1px 0 0 0;
    width: 80px;
    height: 34px;
    font-size: 14px;
    line-height: 18px;
}

.login a {
    color: #0069a3;
    text-decoration: none;
    outline: none;
}

.login .not_remember {
    clear: both;
    margin: 0 0 18px 0;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #5f5f5f;
}

.login .not_remember label {
    display: block;
    float: left;
}

.login .not_remember:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.login button {
    display: block;
    float: left;
    width: 80px;
    height: 34px;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #0082bf;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.login input[name=phone]{
    display: none;
}

.login .registration_link {
    float: left;
    margin: 0 0 23px 14px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}

header .catalog_btn {
    float: left;
    width: 30px;
    height: 22px;
    background: url(/img/icons/header__catalog.png) center no-repeat;
    cursor: pointer;
    position: relative
}

#uLogin {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

header .search {
    float: left;
    width: 869px;
    height: 75px;
    background: #0069a0;
    position: relative
}

#main {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 34px auto;
    padding: 0 20px;
    max-width: 1597px;
}

.social {
    display: block;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}

.facebook {
    background: url(../img/icons/login__social_icons.png) -100px top no-repeat;
}

.twitter {
    background: url(../img/icons/login__social_icons.png) 0 top no-repeat;
}

.googleplus {
    background: url(../img/icons/login__social_icons.png) -200px top no-repeat;
}

.odnoklassniki {
    background: url(../img/icons/login__social_icons.png) -150px top no-repeat;
}

.vkontakte {
    background: url(../img/icons/login__social_icons.png) -50px top no-repeat;
}

#uLogin .binded {
    filter: grayscale(100%);
    position: relative;
}

#uLogin .binded::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    background: url(/img/icons/close_social.png) no-repeat, black;
    opacity: 1;
    right: -4px;
    top: -4px;
}

.social:hover {
    opacity: 0.75 !important;
}

header .search.show {
    display: block
}

header .search form {
    float: left;
    width: calc(100% - 35px);
    height: 75px
}

header .search input[type=text] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 0 37px 0 0;
    padding: 0 0 0 35px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    height: 75px;
    border: none;
    background: 0 0;
    outline: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-overflow: ellipsis
}

header .search input[type=text]::-webkit-input-placeholder {
    color: #fff
}

header .search input[type=text]:-moz-placeholder {
    color: #fff
}

header .search input[type=text]::-moz-placeholder {
    color: #fff
}

header .search input[type=text]:-ms-input-placeholder {
    color: #fff
}

header .search input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0
}

header .search input[type=text]:focus:-moz-placeholder {
    opacity: 0
}

header .search input[type=text]:focus::-moz-placeholder {
    opacity: 0
}

header .search input[type=text]:focus:-ms-input-placeholder {
    opacity: 0
}

header .search_btn {
    display: block;
    float: left;
    margin: 26px 0 0;
    width: 23px;
    height: 24px;
    background: url(/img/icons/header__search.png) center no-repeat;
    outline: 0;
    cursor: pointer
}

header button.search_btn {
    padding: 0;
    border: none
}

header div.search_btn {
    display: none
}

header .settings_btn {
    float: right;
    margin: 27px 37px 0;
    width: 22px;
    height: 22px;
    background: url(/img/icons/header__settings.png) center no-repeat;
    cursor: pointer;
    position: relative
}

header .cart {
    display: block;
    float: left;
    margin: 25px 0 0 0;
    width: 26px;
    height: 26px;
    background: url(/img/icons/header__cart.png) center no-repeat;
    position: relative
}

header .cart span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #e74e3f;
    font-weight: 700;
    font-size: 11px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -9px;
    left: 20px
}

header .login_btn, header .profile_btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin: 24px 12px 0 10px;
    padding: 0 0 0 38px;
    width: 135px;
    height: 27px;
    background: url(/img/icons/header__profile.png) left center no-repeat;
    cursor: pointer;
    position: relative
}

header .login_btn span, header .profile_btn span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    float: left;
    padding: 0 25px 0 0;
    width: 97px;
    height: 27px;
    background: url(/img/icons/header__profile__arrow_down.png) right center no-repeat;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis
}

header .arrow_up {
    width: 18px;
    height: 9px;
    position: absolute;
    top: 42px;
    margin-left: -9px;
    display: none;
    left: 50%;
}

.cart .arrow_up {
    top: 41px !important;
}

header .catalog_btn .arrow_up, .cart .arrow_up {
    top: 39px;
    background: url(/img/icons/header__white_arrow_up.png) center no-repeat;
}

header .settings_btn .arrow_up {
    top: 39px;
    background: url(/img/icons/header__gray_arrow_up.png) center no-repeat
}

header .profile_btn .arrow_up {
    top: 42px;
    background: url(/img/icons/header__gray_arrow_up.png) center no-repeat
}

header .login_btn .arrow_up {
    top: 42px;
    background: url(/img/icons/header__white_arrow_up.png) center no-repeat
}

header .catalog {
    display: none;
    width: 375px;
    position: absolute;
    top: 75px;
    left: 75px
}

header .catalog ul {
    width: 375px;
    background: #fff
}

header .catalog a {
    display: block;
    clear: both;
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 16px;
    line-height: 61px;
    color: #475055;
    text-decoration: none;
    position: relative;
    cursor: pointer
}

header .catalog a:hover {
    background: #0099de;
    color: #fff
}

header .catalog .icon {
    display: block;
    float: left;
    width: 67px;
    height: 60px
}

header .catalog .icon span {
    display: block;
    width: 67px;
    height: 60px;
    opacity: 0
}

header .catalog a:hover .icon span {
    opacity: 1
}

header .settings {
    display: none;
    padding: 30px 32px 12px 33px;
    width: 310px;
    background: #ebebeb;
    position: absolute;
    top: 75px;
    right: 0
}

header .settings input[type=radio] {
    display: none
}

header .settings label {
    display: block;
    margin: 0 0 18px;
    height: 34px;
    color: #2c3e50;
    font-size: 21px;
    line-height: 34px;
    cursor: pointer;
    position: relative
}

header .settings label:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    content: "";
    width: 34px;
    height: 34px;
    border: 2px solid #0081bc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0
}

header .settings input[type=radio]:checked + label:before {
    background: #0081bc;
    -webkit-box-shadow: 0 0 0 7px #fff inset
}

header .profile {
    display: none;
    width: 375px;
    height: 375px;
    position: absolute;
    top: 75px;
    right: 0
}

header .profile a, header .profile li:nth-child(4) {
    position: relative
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

header .profile ul {
    width: 375px;
    height: 375px;
    background: #f1f1f1
}

header .profile li {
    float: left;
    width: 124px;
    height: 124px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff
}

header .profile li:nth-child(3n) {
    width: 123px;
    border-right: none
}

header .profile li:nth-child(7n) {
    height: 123px;
    border-bottom: none
}

header .profile li:nth-child(8n) {
    width: 249px;
    height: 123px;
    border-right: none;
    border-bottom: none
}

header .profile a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 76px 0 0;
    width: 100%;
    height: 100%;
    outline: 0;
    font-size: 16px;
    line-height: 16px;
    color: #515151;
    text-align: center;
    text-decoration: none
}

header .profile li:first-child {
    background: url(/img/icons/header__profile__garage.png) center 34px no-repeat
}

header .profile li:nth-child(2) {
    background: url(/img/icons/header__profile__order.png) center 36px no-repeat
}

header .profile li:nth-child(3) {
    background: url(/img/icons/header__profile__messages.png) center 37px no-repeat
}

header .profile li:nth-child(4) .fa {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 40%;
    font-size: 38px;
    color: #0082BF
}

header .profile li:nth-child(5) {
    background: url(/img/icons/header__profile__pay.png) center 33px no-repeat
}

header .profile li:nth-child(6) {
    background: url(/img/icons/header__profile__settings.png) center 33px no-repeat
}

header .profile li:nth-child(7) {
    background: url(/img/icons/header__profile__exit.png) center 33px no-repeat
}

header .profile li:nth-child(8) {
    background: #0081bc
}

header .profile li:nth-child(8) a {
    padding: 0;
    color: #fff
}

header .profile a .account_title {
    display: block;
    padding: 26px 0 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: center
}

header .profile a .account_sum {
    display: block;
    font-size: 24px;
    line-height: 36px;
    text-transform: none;
    text-align: center
}

header .profile a .account_sum span {
    font-size: 36px
}

body > header > div.wrapper {
    display: flex;
    justify-content: space-between;

}

header span.icon.original_catalogs {
    background: url(/img/icons/original_catalogs.png) no-repeat center;
}

header .catalog a:hover span.icon.original_catalogs {
    background: url(/img/icons/original_catalogs-hover.png) no-repeat center;
}

header span.icon.cat_2 {
    background: url(/img/icons/cat_2.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_2 {
    background: url(/img/icons/cat_2-hover.png) no-repeat center;
}

header span.icon.cat_6 {
    background: url(/img/icons/cat_6.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_6 {
    background: url(/img/icons/cat_6-hover.png) no-repeat center;
}

header span.icon.cat_62 {
    background: url(/img/icons/cat_6.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_62 {
    background: url(/img/icons/cat_6-hover.png) no-repeat center;
}

header span.icon.cat_4 {
    background: url(/img/icons/cat_4.png) no-repeat center;
}

.wrapper {
    margin: 0 auto;
    min-width: 335px;
    max-width: 1557px
}

.switch, .wrapper, form .input_box {
    position: relative
}


header .catalog a:hover span.icon.cat_4 {
    background: url(/img/icons/cat_4-hover.png) no-repeat center;
}

header span.icon.cat_9 {
    background: url(/img/icons/cat_9.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_9 {
    background: url(/img/icons/cat_9-hover.png) no-repeat center;
}

header span.icon.cat_8 {
    background: url(/img/icons/cat_8.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_8 {
    background: url(/img/icons/cat_8-hover.png) no-repeat center;
}

header span.icon.cat_20 {
    background: url(/img/icons/cat_20.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_20 {
    background: url(/img/icons/cat_20-hover.png) no-repeat center;
}

header span.icon.cat_37 {
    background: url(/img/icons/cat_37.png) no-repeat center;
}

header .catalog a:hover span.icon.cat_37 {
    background: url(/img/icons/cat_37-hover.png) no-repeat center;
}

header .profile li:nth-child(3) a span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #e74e3f;
    font-weight: 700;
    font-size: 11px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 27px;
    left: 67px
}

form input, header {
    -webkit-box-sizing: border-box
}

#restore_password{
    background: white;
    padding: 20px;
}
#restore_password .wrapper .right {
    margin-top: 10px;
}

#restore_password input[type="submit"] {
    margin-top: 15px;
    float: none;
}

#restore_password .content {
    margin-top: 15px;
}

#restore_password input[type=email] {
    width: 100%;
}

label[for=w_not_remember_checkbox] {
    margin-right: 10px;
}

.clear {
    clear: both
}

.hidden {
    display: none !important;
}

.cart-popup {
    display: none;
    position: fixed !important;
    z-index: 1000;
    width: 420px;
    top: 75px;
}

.cart-popup {
    display: none;
    position: fixed !important;
    z-index: 1000;
    width: 420px;
    top: 75px;
    max-height: 80%;
    overflow: hidden;
}

.cart-popup table {
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.cart-popup table td {
    padding: 13px 10px;
}

.cart-popup table td:first-child {
    line-height: 1.5;
}

.cart-popup table tr {
    border-bottom: 1px dashed #c8c8c8;
    background: #fff;
}

.cart-popup table tr:first-child {
    border: none;
    height: 33px;
}

.cart-popup table tr:last-child {
    height: 33px;
}

.cart-popup table tr:last-child th:last-child {
    text-transform: none;
}

.cart-popup table th {
    height: 33px;
    font-size: 14px;
    background: #c2c2c2;
    font-weight: bold;
}

.cart-popup:before {
    content: "";
    position: absolute;
    right: 50px;
    top: -10px;
    z-index: 1000;
    height: 0;
    width: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    margin-left: 2px;
}

.fa-cart-arrow-down:before {
    content: "\f218"
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.account_sum i {
    margin-left: 5px;
    font-size: 30px;
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
    content: "\f158";
}

.fa-heart-o:before {
    content: "\f08a";
}

span.delete-btn {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 17px;
    color: red;
    cursor: pointer;
}

.cart-popup button {
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-top: none;
    padding: 7px 0;
    text-transform: uppercase;
    height: auto;
    font-size: 14px;
}

.h_overlay {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

a.articul {
    color: #0081bc;
    position: relative;
    z-index: 1
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 997;
    display: none;
}

.cart-popup {
    right: 167px;
}

@media screen and (max-width: 1024px) {
    .cart-popup {
        right: calc(100% / 4) !important;
    }
}

@media only screen and (max-width: 750px) {
    .cart-popup {
        right: calc(100% / 6) !important;
    }
}

@media only screen and (max-width: 652px) {
    .cart-popup {
        right: calc(100% / 8) !important;
    }
}

.cart-popup tr td:nth-child(3) {
    white-space: nowrap;
}
.cart-popup table{
    width: 100%;
}

.jspContainer {
    overflow: hidden;
    position: relative;
    outline: 0
}
.jspPane {
    position: absolute;
    width: 100%
}
.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 100%;
    background: #fff
}
.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
    display: none
}
.jspHorizontalBar *, .jspVerticalBar * {
    margin: 0;
    padding: 0
}
.jspCap {
    display: none
}
.jspHorizontalBar .jspCap {
    float: left
}
.jspTrack {
    box-sizing: border-box;
    padding: 0 1px;
    background: #fff;
    position: relative;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3
}
.jspDrag {
    background: #0099de;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-border-radius: 9px;
    border-radius: 9px
}
.jspHorizontalBar .jspDrag, .jspHorizontalBar .jspTrack {
    float: left;
    height: 100%
}
.jspArrow {
    background: #fff;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none
}
.jspArrow.jspDisabled, header .catalog a.jspArrow:hover, header .hints a.jspArrow:hover {
    cursor: default;
    background: #fff
}
header .catalog a.jspArrow {
    border-top: none;
    border-bottom: none
}
header .hints a.jspArrow {
    padding: 0
}
.jspVerticalBar .jspArrow {
    height: 5px
}
.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%
}
.jspVerticalBar .jspArrow:focus {
    outline: 0
}
.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%
}
* html .jspCorner {
    margin: 0 -3px 0 0
}
.jq-checkbox.checked:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    background: #0082BF;
}
.checkbox-wrap label:before, .date-wrap .calendar-icon, .info:before, .jq-checkbox.checked:after, .pseudo-select:after {
    content: "";
}

footer input[name=telephone] {
    background: none;
    font-size: 34px;
    color: white;
    border: none;
    padding: 0;
    outline: none;
}

footer, footer .item {
    -webkit-box-sizing: border-box
}

footer {
    box-sizing: border-box;
    background: #ebf0f1;
    font-size: 18px;
    line-height: 24px
}

footer .wrapper {
    min-width: auto;
    max-width: 1597px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer h4 {
    font-size: 18px;
    margin: 0 0 22px;
    font-weight: 500;
    color: #353535
}

footer a {
    color: #0069a0;
    text-decoration: none
}

footer .item {
    box-sizing: border-box;
    padding: 30px 0 0 30px;
}

footer .partnership h4 {
    margin: 0 0 22px
}

footer .partnership ul {
    margin: 0 0 28px
}

footer .payment_systems {
    width: 192px;
    height: 123px;
    background: url(../img/icons/footer__partnership__payment_systems.png) center no-repeat
}

footer .contacts {
    padding: 30px;
    width: 415px;
    height: 323px;
    background: url(../img/footer__contacts__background.png) right bottom no-repeat #0081bc;
    background-size: contain;
    font-size: 16px;
    overflow-x: hidden;
    order: 4;
}

footer .contacts h4 {
    color: #fff
}

footer .phones {
    margin: 0 0 10px;
    font-size: 36px;
    line-height: 40px;
    color: #fff
}

footer .address {
    color: #fff
}

footer .driving_directions {
    color: #fff;
    text-decoration: none
}

footer .social_networks {
    margin: 29px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .social_networks a {
    display: block;
    float: left;
    margin: 0 25px 0 0;
    width: 47px;
    height: 47px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url(../img/icons/footer__contacts__social_networks.png) #00afe5
}

.garage .add_ts, .h_overlay, .overlay {
    display: none
}

.h_overlay, .mfp-content .filter-form input, .overlay {
    width: 100%
}

footer .social_networks a.twitter {
    background-position: 0 0
}

footer .social_networks a.vk {
    background-position: -70px 0
}

footer .social_networks a.facebook {
    background-position: -142px 0
}

footer .social_networks a.google {
    background-position: -212px 0
}

footer .social_networks a.ok {
    margin: 0;
    background-position: right 0
}

.jq-selectbox {
    width: 100%;
    cursor: pointer
}

.jq-selectbox__select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 55px 0 10px;
    width: 100%;
    height: 34px;
    border: 1px solid #C7C7C7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 34px;
    color: #5f5f5f
}

.jq-selectbox__select-text {
    display: block;
    width: 100%;
    height: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: url(/img/icons/select__arrow_down.png) 16px center no-repeat #C7C7C7
}

.jq-selectbox__dropdown {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 4px 0 0;
    padding: 0;
    border: 1px solid #C7C7C7;
    background: #FFF;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    font-size: 16px;
    line-height: 23px
}

.jq-selectbox__not-found, .jq-selectbox__search input {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5f5f5f
}

.maxheight .jq-selectbox__dropdown ul {
    max-height: 220px
}

.jq-selectbox__search {
    margin: 5px
}

.jq-selectbox__search input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 6px 27px 5px 8px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) 100% 50% no-repeat #fff;
    -webkit-appearance: textfield
}

.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration {
    -webkit-appearance: none
}

.jq-selectbox__not-found {
    margin: 5px;
    padding: 6px 8px 5px;
    background: #F0F0F0
}

.jq-selectbox ul {
    margin: 0;
    padding: 0
}

.jq-selectbox li {
    height: 20px;
    padding: 5px 10px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #5f5f5f
}

.jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF
}

.jq-selectbox li:hover {
    background-color: #0081BC;
    color: #FFF
}

a.footer_email {
    display: block;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.breadcrumb {
    padding: 0;
    margin: 10px 0;
    text-transform: uppercase;
}

.breadcrumb a {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    text-decoration: none;
}

.breadcrumb_item:before {
    content: '→';
    display: inline-block;
    margin: -2px 1px;
    vertical-align: top;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.jspPane{
    margin-left: 0 !important;
}

.jspContainer {
    overflow: hidden;
    position: relative;
    outline: none
}
.jq-checkbox {
    text-align: left;
    border: 1px solid #0082BF;
    box-sizing: border-box;
    -webkit-transition: all ease;
    transition: all ease;
    position: relative;
    height: 18px;
    width: 18px;
}
.jq-checkbox.checked:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    background: #0082BF;
}

footer .address{
    background: inherit;
    border: none;
    padding: 0;
}
footer #driving_direction{
    color: white;
}
#full-image {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: rgba(11, 11, 11, 0.5);
    z-index: 1050;
    max-height: 100vh;
}
#full-image #map {
    float: none;
    width: auto;
}
#full-image .img-wrap .close:after {
    content: "\f00d";
}
#full-image .img-wrap .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: fontAwesome;
}
#full-image .img-wrap {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mosaic-view .item_1 .product > p:nth-child(2) {
    height: 28px;
    position: relative;
    overflow: hidden;
}
.pic-and-description {
    position: relative;
}
.mfp-hide {
    display: none!important;
}
.fa-star, .fa-star-half-o, .fa-star-o {
    color: gold;
}
.mfp-bg {
    z-index: 1042;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .5;
}
.mfp-bg, .mfp-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.mfp-wrap {
    z-index: 1043;
    outline: 0!important;
}
.mfp-bg, .mfp-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.mfp-container:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}
.mfp-container:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}
.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-content {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    vertical-align: middle;
    background: white;
    padding: 35px 15px 15px 15px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}
button.mfp-arrow, button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    right: 0;
    top: 0;
    text-decoration: none;
    opacity: .65;
    padding: 0 0 18px 10px;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}
.mfp-close, .mfp-preloader a:hover {
    color: #FFF;
}
.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
    user-select: none;
}
.mfp-close, .mfp-preloader {
    text-align: center;
    position: absolute;
}



footer .item:not(.contacts) {
    flex: 1;
}
footer .information{
    order: 1;
}
footer .shop{
    order: 2;
}
footer .catalog_list{
    order: 3;
}
footer .partnership{
    order: 5
}


@media screen and (max-width: 1490px) {
    footer .contacts .item_box {
        float: left;
    }

    footer .wrapper .item:not(.contacts){
        padding-right: 30px;
    }

    footer .contacts {
        margin-top: 25px;
        width: 100%;
        height: auto;
        background: #0081bc;
        order: 5;
    }

    header .search {
        width: -webkit-calc(100% - 582px);
        width: calc(100% - 582px);
    }
}

@media screen and (max-width: 1100px) {
    footer .catalog_list {
        float: right;
        width: 270px;
    }

    footer .contacts {
        padding: 35px 40px;
    }
}

@media screen and (max-width: 1024px) {
    header div.search_btn {
        display: block;
    }

    header .search {
        display: none;
        float: none;
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
    }

    body > header > div.wrapper {
        display: flex;
        justify-content: space-between;
        height: 75px;
    }

    body > header > div.wrapper div.clear {
        display: none;
    }

    header .catalog_btn {
        margin: 27px 0 0 0 !important;
    }

    header div.search_btn {
        margin: 26px 0 0 0 !important;
    }

    header .cart {
        margin: 25px 0 0 0 !important;
    }

    header .profile_btn, header .login_btn {
        margin: 24px 0 0 0 !important;
    }
}
@media (max-width: 900px){
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media screen and (max-width: 750px) {
    header .login_btn span, header .profile_btn span {
        display: none;
    }

    header .login_btn, header .profile_btn {
        padding: 0;
        width: 24px;
    }

    table.mobile_view tr.first {
        position: relative;
    }

    table.mobile_view tr {
        display: block;
        border-bottom: 1px dashed #c8c8c8;
    }

    table.mobile_view thead {
        display: none;
    }

    table.mobile_view td {
        display: block;
        text-align: left;
        padding: 5px 0;
    }

    table.mobile_view td:before {
        content: attr(label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding-right: 5px;
    }
}

@media screen and (max-width: 550px) {
    header .login .social_buttons{
        margin-top: 10px;
    }
    .content .wrapper{
        min-width: auto;
    }
    header .catalog {
        left: -15px;
    }
    header .login h3 {
        display: none;
    }
    header .login {
        width: 100vw;
        padding: 15px;
        right: -15px;
    }
    header .login input[type="text"], header .login input[type="password"] {
        margin-bottom: 10px;
        width: calc(100% - 94px);
    }
    header .login p {
        padding-bottom: 0;
    }
    header .logo {
        margin: 21px 0 0 -20px;
        width: 160px;
        height: 33px;
        background-size: 180px 33px;
    }

    .cart-popup {
        width: 100%;
        left: 0;
    }

    .item:not(.contacts){
        flex: auto;
    }

    footer .item:not(.contacts) {
        padding: 20px 20px 0;
        width: 100%;
        margin: 0;
        flex: 1 1 100%;
    }

    footer .item:not(.contacts) h4:after {
        content: "\f0d7";
        margin-left: 5px;
    }

    footer .item:not(.contacts) ul {
        display: none;
    }

    footer .item:not(.contacts) h4 {
        margin-bottom: 0;
    }

    footer .item:not(.contacts) h4:after {
        content: "\f0d7";
        font-family: "fontAwesome";
        margin-left: 5px;
    }

    footer .item:not(.contacts) h4.open:after {
        content: "\f0d8";
    }

    footer .contacts .item_box {
        width: auto;
        float: none;
    }

    footer .social_networks {
        float: none;
        margin: 29px 0 0 0;
        width: auto;
        text-align: left;
    }

    footer .social_networks a {
        display: inline-block;
        float: none;
        margin: 0;
        margin-right: 15px;
    }

    footer .social_networks a:nth-child(-n+4) {
        margin: 0;
        margin-right: 15px;
    }

    footer .social_networks a:last-child {
        margin: 0;
    }

    footer .partnership {
        padding-bottom: 30px;
    }

    footer .payment_systems {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer .contacts {
        padding: 10px;
    }

    footer .contacts .item_box {
        width: 340px;
        margin: 0 auto;
    }

    footer .contacts .social_networks {
        width: 340px;
        margin: 35px auto 0;
        text-align: center;
    }
}
@media screen and (max-width: 375px){
    header .profile {
        width: 100vw;
        left: -20px;
    }
}
