a.undoReturn {
    display: block;
    font-size: 12px;
    color: red;
    cursor: pointer;
}
td.title{
    text-align: left;
}
span.crossedout {
    text-decoration: line-through;
    display: block;
    text-decoration-color: #c37476;
}
a[store_id] {
    text-decoration: none;
}
.fa-pencil-square-o {
    font-size: 1.6em !important;
    cursor: pointer;
}
.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
}
.comment-block {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 320px;
    padding: 10px;
    background: #fff;
    right: 11px;
    margin-top: 10px;
}
.comment-block textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.comment-block:before {
    height: 0;
    width: 0;
    border-bottom: 13px solid #fff;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    content: "";
    position: absolute;
    top: -13px;
    right: 30px;
}
a.cancel_comment{
    display: block;
}
span.new_price {
    color: #c37476;
    font-weight: 800;
}
a.removeFromBasket {
    display: block;
}

.stringLog {
    display: none;
    font-size: 13px;
}

#itemsToOrder {
    display: inline-block;
    height: 25px;
    margin-left: 20px;
}

#itemsToOrder img {
    height: 100%;
}
#mgn_popup span.summ{
    display: block;
}
#mgn_popup .jq-selectbox__select{
    background: white;
}
#mgn_popup a.button{
    margin-top: 15px;
}
#mgn_popup .basket-table tr{
    border-bottom: 1px dashed #c8c8c8;
}
#mgn_popup .basket-table td{
    padding: 15px 0;
}
#mgn_popup .count-block{
    position: static;
}
.product-popup .count-block {
    margin-left: 10px;
}
.count-block input {
    text-align: center;
    width: 70px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: #0082BF
}
.count-block input::-webkit-inner-spin-button, .count-block input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}
.jq-selectbox li {
    text-align: left;
}
.count-block .minus, .count-block .plus {
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: #0082BF;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-size: 30px
}
select {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f;
    height: 25px;
}

table.orders-table td .message.disable {
    opacity: .4;
}

select[disabled] {
    color: #bfbfbf;
}

.stringLog.active {
    display: block;
}

#changeAdditionalInformation {
    float: right;
    position: relative;
    top: 12px;
}

a.show_stringLog {
    display: block;
    font-size: 11px;
}

tr[order_id] {
    cursor: pointer;
}

.status-wrap {
    width: 180px;
}

.pseudo-select:after {
    width: 40px;
    height: 100%;
    background: url(/img/icons/select__arrow_down.png) center center no-repeat, #0082BF;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

#main > h1 {
    float: left;
}

#main > a {
    float: right;
}

[data-name=returns] tr.first.active .icon-enlarge2:before {
    content: "\e98c";
    color: #0082BF;
}

.order-filter-form {
    text-align: center;
    border: 1px solid #c8c8c8;
    padding: 10px;
    margin-bottom: 30px;
}

.order-filter-form .search-wrap {
    width: -webkit-calc(100% - 1020px);
    width: calc(100% - 1020px);
}

.search-wrap input {
    padding-right: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.search-wrap {
    position: relative;
    min-width: 250px;
}

.date-wrap input:disabled + .calendar-icon, input:disabled {
    opacity: .5;
}

.date-wrap, .date-wrap input, .pseudo-select, .search-wrap {
    display: inline-block;
}

table.orders-table {
    width: 100%;
}

[data-name=returns] table tr {
    border: none;
}

table.orders-table tr {
    border-bottom: 1px dashed #c8c8c8;
}

.search-wrap .search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url(/img/icons/search_gray.png) center no-repeat;
}

[data-name=returns] table tr.first > td {
    padding: 5px;
}

.order-filter-form .checkbox-wrap {
    margin-left: 50px;
}

.checkbox-wrap {
    display: inline-block;
    margin: 25px 0;
}

[data-name=returns] tr.first .icon-enlarge2:before {
    content: "\e98b";
    color: #0082BF;
}

.checkbox-wrap input[type=radio] {
    display: none;
}

.checkbox-wrap label {
    margin: 0 20px 0 0;
    padding: 0 0 0 30px;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    cursor: pointer;
    position: relative;
}

.checkbox-wrap label:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #0081bc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0;
}

.checkbox-wrap input[type=radio] {
    display: none;
}

.checkbox-wrap label {
    margin: 0 20px 0 0;
    padding: 0 0 0 30px;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    cursor: pointer;
    position: relative;
}

.checkbox-wrap input[type=radio]:checked + label:before {
    background: #0081bc;
    -webkit-box-shadow: 0 0 0 5px #fff inset;
}

.date-wrap {
    width: 110px;
    position: relative;
    display: inline-block;
}

.date-wrap input {
    font-size: 12px;
    position: relative;
    z-index: 1;
    background: 0 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 100%;
    border: 1px solid #0082BF;
}

.date-wrap .calendar-icon {
    z-index: 0;
    top: 2px;
    right: 2px;
    width: 30px;
    height: -webkit-calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    background: url(/img/icons/calendar-icon.png) center center no-repeat, #0082BF;
}

div.status {
    position: relative;
    width: 250px;
    display: inline-block;
}

.pseudo-select {
    text-align: left;
    width: 170px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #0082BF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f;
    height: 34px;
    vertical-align: middle;
    margin-top: -3px;
    line-height: 34px;
    position: relative;
}

.status-form {
    margin-top: 10px;
    left: 15px;
    position: absolute !important;
    background: #fff;
    display: none;
    padding: 10px 20px;
    border: 1px solid #0082BF;
    -webkit-box-shadow: 1.5px 2.6px 7px rgb(0 0 0 / 35%);
    box-shadow: 1.5px 2.6px 7px rgb(0 0 0 / 35%);
    z-index: 2;
}

.status-wrap .label {
    float: left;
    padding: 5px 0;
}

.status-wrap .switch {
    float: right;
    margin-top: 5px;
}

.switch {
    width: 34px;
}

.switch input {
    display: none;
}

.status-wrap {
    width: 180px;
}

.status-wrap .label, .switch {
    display: inline-block;
    height: 20px;
}


.slider {
    border-radius: 20px;
    border: 1px solid #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.status-wrap .switch {
    float: right;
    margin-top: 5px;
}

input:checked + .slider {
    border: 1px solid #0082BF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    transform: translateX(-14px);
    background: #0082BF;
}

.slider.round:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    right: 2px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.order-filter-form button {
    float: none;
    display: inline-block;
    margin-left: 20px;
}

[data-name=returns] table tr.first.active + tr.second {
    display: table-row;
    width: 100%;
}

[data-name=returns] tr.first.active + tr.second {
    border-bottom: 1px dashed #c8c8c8;
}

[data-name=returns] table table.full_info {
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

table.orders-table:not(.small-view) tr:first-child {
    border: none;
}
[data-name=returns] table tr.first {
    cursor: pointer;
    border-bottom: 1px dashed #c8c8c8 !important;
}

[data-name=returns] table table.full_info tr td {
    padding: 10px 0;
}

b.brend_info {
    font-weight: 700;
    cursor: pointer;
}

[data-name=returns] table tr.first.active + tr.second {
    display: table-row;
    width: 100%;
}

[data-name=returns] table tr.first.active + tr.second {
    display: table-row;
    width: 100%;
}

[data-name=returns] tr.first.active + tr.second {
    border-bottom: 1px dashed #c8c8c8;
}

[data-name=returns] table tr.second {
    display: none;
}

[data-name=returns] tr.second {
    padding: 10px 20px;
}

[data-name=returns] table tr {
    border: none;
}

table.orders-table tr {
    border-bottom: 1px dashed #c8c8c8;
}

[data-name=returns] table td {
    padding: 0;
}

tr.gif {
    display: table-row;
    border-bottom: none !important;
}

tr.gif td {
    display: table-cell;
}

table.orders-table td .status-col.status-ordered {
    color: #da1ee2;
}

span.status-expecting {
    color: #b1b2e6;
}

span.status-block {
    display: block;
}

table.orders-table td .status-col.status-refused {
    color: #d47a9f;
}

table.orders-table td .status-col.status-delivery {
    color: #65b562;
}

table.orders-table td .status-col.status-sended {
    color: #00a3e8;
}

table.orders-table td .status-col.status-done {
    color: #0069a0;
}

table.orders-table td .status-col.status-return {
    color: #f4191f;
}

table.orders-table td .status-col.status-stoped {
    color: #ff7f1f;
}

a.return, a.removeFromOrder {
    color: red;
    display: block;
    font-size: 13px;
}

.status_return_1 {
    color: #ecbf3e;
}

.status_return_2 {
    color: #ecbf3e;
}

.status_return_4 {
    color: #f4191f;
}

.status_return_3 {
    color: #65b562;
}
span.ordered_return.status_return_1 {
    display: block;
    font-size: 13px;
}

@media only screen and (max-width: 750px) {
    div[data-name=returns] td.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    div[data-name=returns] .undoReturn {
        width: 60px;
    }

    div[data-name=returns] td[class^=status_return] {
        width: auto;
    }
    #mgn_popup h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    #mgn_popup .basket-table td{
        padding: 10px 0;
    }
    table.mobile_view td.quan:before {
        line-height: 34px;
        margin-right: 10px;
    }
    #mgn_popup .basket-table tr{
        border-bottom: none;
    }
}

@media screen and (max-width: 700px) {
    .order-filter-form button {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    .order-filter-form {
        text-align: left;
    }

    .order-filter-form .search-wrap {
        width: 100%;
    }

    .order-filter-form .checkbox-wrap {
        margin-left: 0;
        display: block;
    }

    .order-filter-form .pseudo-select {
        margin-left: 0;
        margin-top: 20px;
        display: block;
    }

    #main {
        padding: 0 5px;
    }

    .ionTabs__head li {
        font-size: 12px;
        padding: 0 5px;
    }

    .ionTabs__body {
        padding: 0;
    }

    .status-form {
        left: 0;
    }
}