.hit-list-table{
    width: 100%;
}
.icon-bin:before {
    content: "\e9ac";
    cursor: pointer;
}
.notFound.removable > td{
    position: relative;
}
.notFound.removable img {
    height: 39px;
    top: 8px;
    position: absolute;
    padding-left: 10px;
}
table tr{
    border-bottom: 1px dashed #c8c8c8 !important;
}
@media screen and (max-width: 550px) {
    .notFound.removable td{
        line-height: 42px;
    }
    table tr{
        position: relative;
    }
    table td:nth-child(6){
        display: block;
        position: absolute;
        right: 0;
        top: 7px
    }
    span.icon-bin:before{
        font-size: 20px;
    }
    h1{
        margin-bottom: 0;
    }
}


