form input {
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    height: 34px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f
}

.bt_close {
    position: absolute;
    right: 20px;
    z-index: 2000;
    top: 14px;
}

input[name="data[is_subscribe]"] {
    display: none !important;
}

.date-wrap input:disabled + .calendar-icon, input:disabled {
    opacity: .5;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 23px;
    position: relative;
    top: 3px;
    right: 36px;
    color: #f32424;
    cursor: pointer;
}

.icon-mail2:before {
    content: "\ea84";
}

.icon-phone:before {
    content: "\e942";
}

.icon-checkmark1:before {
    content: "\ea10";
    color: #036e03;
}

#email-confirmation b, #phone-confirmation b {
    font-weight: bold;
}

#email-confirmation p, #phone-confirmation p {
    margin: 15px 0;
}

input[name="code"] {
    margin: 15px 0;
    width: 100%;
}

#personal-data div.form {
    margin-bottom: 40px;
}

#div_issue > p {
    padding: 0 0 10px 0
}

.settings-page form#subscribe label.switch {
    width: 34px;
    top: 6px;
}

#div_issue {
    position: absolute;
    width: 222px;
    background: white;
    left: 35px;
    z-index: 1;
    top: 33px;
    padding: 10px;
    border: 1px solid #0082bf;
    border-radius: 5px;
}

.hidden {
    display: none !important
}

#issue_check {
    height: 600px;
}

#popup_map {
    width: 80%;
    display: flex;
    position: relative;
    z-index: 1045;
}

#apply {
    position: absolute;
    bottom: 20px;
}

.text_selected span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul[name=issue] li:hover {
    background-color: #0081BC;
    color: white;
    cursor: pointer;
}

.img-wrap #map {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.opened {
    display: inline-block !important;
}

.popup_selected {
    position: relative;
    z-index: 100;
    display: none;
}

ul[name=issue] {
    border: 1px solid #C7C7C7;
    background: #FFF;
    margin-top: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

ul[name=issue] li {
    height: 20px;
    padding: 5px 10px 6px;
    line-height: 20px;
}

input {
    height: auto;
}

.settings-page h3 {
    font-size: 19px;
}

.settings-page .col {
    width: 50%;
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.settings-page .personal-data-block {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.settings-page .personal-data-block .labels-block {
    width: 180px;
    float: left;
    text-align: right;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.settings-page .personal-data-block .data-block {
    padding-left: 10px;
    width: -webkit-calc(100% - 180px);
    width: calc(100% - 180px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: left;
}

.settings-page .personal-data-block .email-wrap, .settings-page .personal-data-block .phone-wrap {
    position: relative;
    display: none;
}

.settings-page .personal-data-block .email-wrap button, .settings-page .personal-data-block .phone-wrap button {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 210px;
}

.settings-page .personal-data-block .for-delivery-block {
    display: none;
    margin-top: 20px;
    border: 1px solid #c8c8c8;
    min-height: 150px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-info {
    margin-top: 40px;
}

.settings-page form .input-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    margin: 5px 0;
}

.settings-page form .input-wrap label {
    width: 180px;
    display: inline-block;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
}

.settings-page form .input-wrap input, .settings-page form .input-wrap .jq-selectbox {
    display: inline-block;
    width: 320px;
}

.settings-page button {
    margin-top: 10px;
}

.settings-page #delivery, .settings-page #change-password, .settings-page #additional, .settings-page form#personal-data {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.settings-page #change-password {
    margin-top: -5px;
}

.settings-page #change-password label {
    width: 180px;
}

.settings-page #additional {
    margin-top: 30px;
}

.settings-page form#subscribe label {
    width: 170px;
}

#subscribe {
    margin-top: 40px !important;
}

.settings-page #additional label.switch,
.settings-page form#subscribe label.switch {
    width: 34px;
    top: 6px;
}

#additional .input-wrap label {
    width: 331px;
}

#subscribe label.switch {
    width: 34px;
}

.settings-page #additional label.switch input,
.settings-page form#subscribe label.switch input {
    display: none;
}

.settings-page #additional-address-field {
    display: none;
}

.settings-page form#personal-data button {
    float: none;
    display: block;
}

.settings-page form#personal-data #additional-phone {
    display: none;
}

.settings-page form#personal-data #additional-phone + .info_btn {
    display: none;
}

.settings-page form#personal-data #additional-phone + .info_btn.show {
    display: inline-block;
}

.settings-page form#personal-data .info {
    left: 160px;
}

.settings-page form#personal-data .info:before {
    right: 64px;
}

.settings-page .delivery-address {
    display: none;
    min-height: 100px;
}

.settings-page #additional .additional-functions {
    padding: 5px 0;
}

.settings-page #additional .additional-functions label {
    width: 100px;
}

.settings-page #additional .additional-functions .jq-selectbox {
    width: 100px;
}

.settings-page #additional .additional-functions input {
    width: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

#image_map {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.5;
    display: none;
}
.status-wrap .label, .switch {
    display: inline-block;
    height: 20px;
}
.slider.round {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
input:checked+.slider {
    border: 1px solid #0082BF;
}
input:checked+.slider:before {
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    transform: translateX(-14px);
    background: #0082BF;
}
.slider {
    border: 1px solid #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    right: 2px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

@media screen and (max-width: 1100px) {
    .settings-page .col {
        width: 100%;
    }

    .settings-page #delivery label {
        width: 210px;
    }
}

@media screen and (max-width: 880px) {
    .settings-page .personal-data-block, .settings-page #delivery, .settings-page #change-password, .settings-page #additional, .settings-page form#personal-data {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }

    .settings-page #additional label.switch {
        top: 0;
    }
}

@media screen and (max-width: 550px) {
    .settings-page .personal-data-block .labels-block {
        width: 100%;
        text-align: left;
    }

    .settings-page .personal-data-block .labels-block p {
        padding-bottom: 20px;
    }

    .settings-page .personal-data-block .data-block {
        width: 100%;
        position: absolute;
        left: 0;
        margin-top: 20px;
        padding-left: 5px;
    }

    .settings-page .personal-data-block .data-block p {
        padding-bottom: 20px;
    }

    .settings-page form .input-wrap label {
        width: 100%;
        padding-bottom: 5px;
        text-align: left;
    }

    .settings-page form .input-wrap input {
        width: 100%;
    }

    .settings-page #delivery label {
        width: 100%;
    }

    .settings-page #delivery label[for="same-address"] {
        width: 80%;
    }

    .settings-page #additional label {
        width: 80%;
    }

    .settings-page form#personal-data input {
        width: 90%;
    }

    .settings-page form#personal-data .info {
        right: 10px;
        left: auto;
        top: 60px;
    }

    .settings-page form#personal-data .info:before {
        right: 17px;
    }
}

@media screen and (max-width: 415px) {
    .settings-page #additional .input-wrap:nth-of-type(2) label.switch {
        top: -4px;
    }
}

@media only screen and (max-width: 360px) {
    .settings-page #additional .input-wrap:nth-of-type(3) label.switch {
        top: -4px;
    }
}

@media only screen and (max-width: 320px) {
    .cart-popup:before {
        right: 55px;
    }

    .settings-page form#personal-data .info {
        right: 0;
        left: auto;
        top: 60px;
    }

    .settings-page form#personal-data .info:before {
        right: 9px;
    }

    footer .contacts .item_box {
        font-size: 15px;
    }
}