<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="redirecttohttps" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 1" stopProcessing="true">
                    <match url="^sitemap.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="sitemap.php" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 146" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="AhrefsBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 147" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="MJ12bot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 148" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="Detectify" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 149" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="dotbot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 150" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="Riddler" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 151" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="SemrushBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 152" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="LinkpadBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 153" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="BLEXBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 154" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="FlipboardProxy" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 155" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="aiHitBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 156" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="trovitBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 157" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="PetalBot" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 158" stopProcessing="true">
                    <match url="^admin/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="admin/{R:1}" />
                </rule>
                <rule name="Импортированное правило 159" stopProcessing="true">
                    <match url="^page/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=page&amp;type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 160" stopProcessing="true">
                    <match url="^new/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=new&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 161" stopProcessing="true">
                    <match url="^category/([a-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=category&amp;href={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 162" stopProcessing="true">
                    <match url="^category/([a-z0-9-]+)/([a-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=category&amp;href={R:1}&amp;sub={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 163" stopProcessing="true">
                    <match url="^category/([a-z0-9-]+)/([a-z0-9-]+)&amp;(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=category&amp;href={R:1}&amp;sub={R:2}&amp;{R:3}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 164" stopProcessing="true">
                    <match url="^providers/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=providers&amp;item_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 165" stopProcessing="true">
                    <match url="^search/(article|barcode|vin)/(.*)/yes$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=search&amp;type={R:1}&amp;search={R:2}&amp;save=true" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 166" stopProcessing="true">
                    <match url="^search/(article|barcode|vin)/(.*)/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=search&amp;type={R:1}&amp;search={R:2}&amp;brend={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 167" stopProcessing="true">
                    <match url="^search/(article|barcode|vin)/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=search&amp;type={R:1}&amp;search={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 168" stopProcessing="true">
                    <match url="^search/armtek/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=search&amp;type=armtek&amp;item_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 169" stopProcessing="true">
                    <match url="^garage\/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=garage" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 170" stopProcessing="true">
                    <match url="^garage/([\w,]+)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=garage&amp;modification_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 171" stopProcessing="true">
                    <match url="^garage/select_modification/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=garage&amp;act=select_modification" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 881">
                    <match url="^article/([0-9]+)-.*\/noUseAPI$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=article&amp;item_id={R:1}&amp;noUseAPI=1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^article/([0-9]+)-.*" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=article&amp;item_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 174" stopProcessing="true">
                    <match url="^registration$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=registration" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 175" stopProcessing="true">
                    <match url="^authorization$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=authorization" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 176" stopProcessing="true">
                    <match url="^favorites$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=favorites" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 177" stopProcessing="true">
                    <match url="^settings$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=settings" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 178" stopProcessing="true">
                    <match url="^sending$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=sending" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 179" stopProcessing="true">
                    <match url="^messages$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=messages" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 180" stopProcessing="true">
                    <match url="^basket$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=basket" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 181" stopProcessing="true">
                    <match url="^help$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=help" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 182" stopProcessing="true">
                    <match url="^help/([\w-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=help&amp;rubric_href={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 183" stopProcessing="true">
                    <match url="^basket/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=basket&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 184" stopProcessing="true">
                    <match url="^orders$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=orders" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 185" stopProcessing="true">
                    <match url="^order/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=order&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 186" stopProcessing="true">
                    <match url="^order/(\d+)/edit$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=order&amp;id={R:1}&amp;act=edit" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 187" stopProcessing="true">
                    <match url="^sending/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=sending&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 188" stopProcessing="true">
                    <match url="^account$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=account" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 189" stopProcessing="true">
                    <match url="^account/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=account{R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 190" stopProcessing="true">
                    <match url="^payment$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=payment" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 191" stopProcessing="true">
                    <match url="^received$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=received" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 192" stopProcessing="true">
                    <match url="^to_order$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=to_order" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 193" stopProcessing="true">
                    <match url="^new_message$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=new_message" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 194" stopProcessing="true">
                    <match url="^correspond/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=correspond&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 195" stopProcessing="true">
                    <match url="^correspond/([0-9]+)/([0-9]+)/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=correspond&amp;order_id={R:1}&amp;store_id={R:2}&amp;item_id={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 1961" stopProcessing="true">
                    <match url="^sitemap$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=sitemap$" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 196" stopProcessing="true">
                    <match url="^exit$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=exit" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 197" stopProcessing="true">
                    <match url="^exceeded_connections" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=exceeded_connections" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 198" stopProcessing="true">
                    <match url="^original-catalogs$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=original-catalogs" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 199" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=original-catalogs&amp;vehicle={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 200" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=original-catalogs&amp;vehicle={R:1}&amp;brend={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 201" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/(\d{4})$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=original-catalogs&amp;vehicle={R:1}&amp;brend={R:2}&amp;year={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 202" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin=vin" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 203" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/to_garage$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;to_garage=1" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 204" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/(\d{4})$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin=vin&amp;year={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 205" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/(\d{4})/to_garage$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin=vin&amp;year={R:5}&amp;to_garage=1" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 206" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/(\d{4})/to_garage/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin=vin&amp;year={R:5}&amp;to_garage=1&amp;modification_id={R:6}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 207" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/to_garage$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin=vin&amp;year={R:5}&amp;to_garage=1" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 208" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/to_garage/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin=vin&amp;to_garage=1&amp;modification_id={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 209" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/to_garage/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;to_garage=1&amp;modification_id={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 210" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/(\w{17})?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;vin={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 211" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/(\d{4})?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=model&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;year={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 212" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/([\d]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=modification&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;modification_id={R:5}&amp;vin=vin" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 213" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/(\w{17})/([\d]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=modification&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;modification_id={R:6}&amp;vin={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 214" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/(\d{4})/([\d]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=modification&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;modification_id={R:6}&amp;year={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 215" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/(\w{17})/([\d]+)/([\d]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=node&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;modification_id={R:6}&amp;node_id={R:7}&amp;vin={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 216" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/vin/([\d]+)/([\d]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=node&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;modification_id={R:5}&amp;node_id={R:6}&amp;vin=vin" appendQueryString="false" />
                </rule>
                <rule name="Импортированное правило 217" stopProcessing="true">
                    <match url="^original-catalogs/([\w-]+)/([\w-]+)/([\d]+)/([\w-]+)/(\d{4})/([\d]+)/([\d]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?view=node&amp;vehicle={R:1}&amp;brend={R:2}&amp;model_id={R:3}&amp;href={R:4}&amp;modification_id={R:6}&amp;node_id={R:7}&amp;year={R:5}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
