tr.analogyStatus_2 {
    background: #f9dfdf;
}
#need_similar a.red{
	color: red;
}
tr.analogyStatus_1 {
    background: #c1fdc1;
}
ul{
	padding: 0;
}
label{
	margin-top: 0;
}
label.item_translate{
	display: block;
	margin-top: 10px;	
}
.modal {
  max-height: 90vh;
}
li.main-photo {
    border: 3px solid red;
    /* content: "\ea10"; */
}
#uploadedPhoto{
   height: 70vh;
}
.icon-unlocked:before{
    content: "\e990";
}
.icon-lock:before{
    content: "\e98f";
}
.icon-unlocked:before, .icon-lock:before {
    height: 15px;
    width: 15px;
    color: white;
    font-size: 30px;
}
a.removePhoto{
    cursor: pointer;
}
span.icon-unlocked, span.icon-lock{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}
li.main-photo {
    border: 3px solid red;
    /* content: "\ea10"; */
}
#modal_content{
/*    height: 750px;
    width: 600px;*/
}
.hidden{
    display: none;
}
ul.photo li {
    height: 256px;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: 10px;
}
ul.photo li:hover > div {
    display: block;
    background: rgba(99, 91, 91, 0.55);
}
ul.photo li > div > a:nth-child(2) {
    margin-top: 128px;
}
ul.photo li > div > a:first-child{
    position: relative;
    top: 73px;
}
ul.photo li > div > a{
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
ul.photo li > div {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#savePhoto{
	box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f;
    height: 25px;
    margin-top: 10px;
 }
label.item_translate a{
	display: inline-block;
}
label.item_translate input{
	width: 270px !important;
}
label.item_translate span.translate_title{
	width: 200px;
	display: inline-block;
}
span.icon-cross.translate_delete{
	color: red;
}
#goToItemCard{
	display: inline-block;
	margin: 10px 0;
}
.clearAnalogies{
	display: inline-block;
}
table.category select{
	width: 100%;
	display: block;
    border: none;
}
label.filter_value {
   padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    background: white;
    margin-right: 5px;
        font-size: 12px;
}
.checked {
    margin-top: 7px;
}
.icon-cross1:before {
  content: "\ea0f";
}
.filter_value .icon-cross1:before {
	    font-size: 10px;
}
option[disabled] {
    display: none;
}
.actions.items a{
    margin-left: 0;
}
a.hide.active {
    color: #0037ff;
}
a#clearItemDiff {
    margin-bottom: 10px;
    display: inline-block;
}
span.properties {
    padding: 5px 21px 5px 5px;
    margin-right: 10px;
    position: relative;
}
.icon-cancel-circle1:before {
    content: "\ea0d";
}
span.icon-cancel-circle1 {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color: #ed1212;
    top: 3px;
}
div.category {
    float: left;
    margin: 0 15px 10px 0;
    padding: 5px;
    border: solid 1px #c1bfbf;
}
table.category{
    width: 100%;
}
.category_item {
    margin-top: 10px;
}
#categories::after {
    content: '';
    clear: left;
    display: block;
}
div#categories {
    margin-top: 10px;
}
.icon-enlarge2:before {
    content: "\e98b";
}
.icon-enlarge2, .icon-shrink2{
    margin-left: 10px;
}
.icon-shrink2:before {
    content: "\e98c";
}
#modal_ozon table tr td{
    text-align: left;
    padding: 5px 5px 5px 0
}
#modal_ozon table tr td:nth-child(1){
    font-weight: 800;
}
#modal_ozon textarea
{
    padding: 10px;
}
#modal_ozon input[type="text"]:not([name="barcode"]) {
    width: 100%;
}
#modal_ozon label.type_good {
    display: inline-block;
    border: 1px #d3ccc7 solid;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0;
}
#modal_ozon input[name="title"] {
    width: 100%;
    display: block;
}
#modal_ozon textarea[name=marketplace_description] {
    width: 100%;
}
#modal_ozon tr td:first-child {
    min-width: 110px;
    font-size: 13px;
    line-height: 13px;
}
#modal_ozon input[readonly] {
    width: 100%;
    border: none;
    padding-left: 0;
}
#modal_ozon label.bold {
    font-weight: 800;
    font-size: 13px;
    display: inline-block;
    width: 290px;
    text-align: right;
}
#modal_ozon label.bold.thin {
    width: 245px;
}
#modal_ozon input[name*="markup"], #modal_ozon input[name*="price"] {
    width: 100px;
}
#modal_ozon td.type_good {
    display: none;
}
#modal_ozon td.type_good.active {
    display: block;
}
div.modal {
    max-width: 1000px;
}