tr.analogyStatus_2 {
    background: #f9dfdf;
}
#need_similar a.red{
	color: red;
}
tr.analogyStatus_1 {
    background: #c1fdc1;
}
ul{
	padding: 0;
}
label{
	margin-top: 0;
}
label.item_translate{
	display: block;
	margin-top: 10px;	
}
.modal {
  max-height: 90vh;
}
li.main-photo {
    border: 3px solid red;
    /* content: "\ea10"; */
}
#uploadedPhoto{
   height: 70vh;
}
.icon-unlocked:before{
    content: "\e990";
}
.icon-lock:before{
    content: "\e98f";
}
.icon-unlocked:before, .icon-lock:before {
    height: 15px;
    width: 15px;
    color: white;
    font-size: 30px;
}
a.removePhoto{
    cursor: pointer;
}
span.icon-unlocked, span.icon-lock{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}
li.main-photo {
    border: 3px solid red;
    /* content: "\ea10"; */
}
#modal_content{
/*    height: 750px;
    width: 600px;*/
}
.hidden{
    display: none;
}
ul.photo li {
    height: 256px;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: 10px;
}
ul.photo li:hover > div {
    display: block;
    background: rgba(99, 91, 91, 0.55);
}
ul.photo li > div > a:nth-child(2) {
    margin-top: 128px;
}
ul.photo li > div > a:first-child{
    position: relative;
    top: 73px;
}
ul.photo li > div > a{
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
ul.photo li > div {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#savePhoto{
	box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #5f5f5f;
    height: 25px;
    margin-top: 10px;
 }
label.item_translate a{
	display: inline-block;
}
label.item_translate input{
	width: 270px !important;
}
label.item_translate span.translate_title{
	width: 200px;
	display: inline-block;
}
span.icon-cross.translate_delete{
	color: red;
}
#goToItemCard{
	display: inline-block;
	margin: 10px 0;
}
.clearAnalogies{
	display: inline-block;
}
table.category select{
	width: 200px;
	display: block;
	    border: none;
}
label.filter_value {
   padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    background: white;
    margin-right: 5px;
        font-size: 12px;
}
.checked {
    margin-top: 7px;
}
.icon-cross1:before {
  content: "\ea0f";
}
.filter_value .icon-cross1:before {
	    font-size: 10px;
}
option[disabled] {
    display: none;
}
.actions.items a{
    margin-left: 0;
}
a.hide.active {
    color: #0037ff;
}
a#clearItemDiff {
    margin-bottom: 10px;
    display: inline-block;
}
span.properties {
    padding: 5px 21px 5px 5px;
    margin-right: 10px;
    position: relative;
}
.fa-times {
    font-size: 18px;
    color: red;
    -webkit-transition: all ease .2s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) .2s;
    position: absolute;
    right: 4px;
    top: 3px;
    cursor: pointer;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "x";
    font-weight: 800;
    font-style: initial;
    line-height: 0;
}