tr[store_id]{
	cursor: pointer;
}
input[column=price],
input[column=in_stock],
input[column=requiredRemain],
input[column=packaging]
{
	width: 70px;
}
tr.sort td a{
	text-decoration: none;
}
div.actions > form{
    float: left;
    margin-right: 10px;
}
tr.sort td{
	cursor: pointer;
    white-space: nowrap;
}
tr.sort td.active .icon-arrow-down2{
	display: contents;
}
.icon-arrow-down2:before {
  content: "\ea3e";
    color: #007f8e;
}
a.desc ~ .icon-arrow-down2:before{
	content: "\ea3a";
	color: #007f8e;
}
.icon-cancel-circle1:before {
  content: "\ea0d";
}
a.delete_item{
	text-decoration: none;
}
#contents{
	overflow: visible;
}
form.add_item_to_store a.deleteStoreItem {
    font-weight: 400;
    /* position: absolute; */
    float: right;
    margin-top: 15px;
}
div.actions a {
    margin-left: 10px;
}