#total{
	 margin-top: 10px;
}
#actions{
	margin-bottom: 10px;
}
tr.store{
	cursor: pointer;
}
form input[type=submit]{
	margin: 0 auto;
}
tr.dayOff {
    color: red;
}
label.workSchedule span {
    display: block;
}
tr.store.bold {
    font-weight: 800;
}
.hidden{
	display: none;
}
td.storeInfo > a{
    text-decoration: none;
}
#load_price{
	    display: block !important;
    width: 100%;
    text-align: left
}
#load_price ~ form{
	margin: 10px 0;
}
#load_price ~ form label{
	display: inline-block;
    margin: 5px;
}
#load_price ~ form input[type=submit]{
	margin-top: 0;
}
div.actions a{
	margin-left: 5px;
}
a.sendOrder{
	display: block;
}
.icon-cancel-circle1:before {
    content: "\ea0d";
}
span.icon-cancel-circle1{
	cursor: pointer;
}
a.remove{
	text-decoration: none;
}