#contents{
	margin-top: 0;
}
tr[osi]{
	cursor: pointer;
}
input[name=return_price]{
	width: 80px !important;
    font-weight: 900;
    text-align: center;
}
input.datetimepicker {
    width: 130px;
}
#filter{
	float: left;
	    margin-bottom: 5px;
}
#filter select{
	height: 25px;
	border: 1px solid #c8c8c8;
    border-radius: 4px;
}
tr.return_class_2, tr.return_class_1 {
    background: #dcdca7 !important;
}
tr.return_class_3 {
    background: #c7dac8 !important;
}
tr.return_class_4 {
    background: #e4d4d4;
}