#storesForSubscribe label {
    display: block;
    margin: 2px 0px;
}
#storesForSubscribe input[type="submit"] {
    margin-top: 10px;
}
#storesForSubscribe .subcribePrice{
	display: block;
}
#providers tbody tr{
	cursor: pointer;
}
#providers tbody tr:not(.active){
	color: darkgrey;
   font-style: oblique;
}
#api_settings input {
    width: 100%;
}
