#storesForSubscribe label {
    display: block;
    margin: 2px 0px;
}
#storesForSubscribe input[type="submit"] {
    margin-top: 10px;
}
#storesForSubscribe .subcribePrice{
	display: block;
}
#providers tbody tr{
	cursor: pointer;
}
#providers tbody tr:not(.active){
	color: darkgrey;
   font-style: oblique;
}
#api_settings input, #api_settings select {
    width: 100%;
    height: 27px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}
tr.wrap {
  border-bottom: 1px solid black;
  display: block;
}
tr.wrap > td:first-child {
    width: 142px;
}
