.icon-cancel-circle1:before {
  content: "\ea0d";
}
tr.edit{
	cursor: pointer;
}
#actions{
	margin-bottom: 10px;
}
#actions form{
	display: inline-block;
}
a.delete, a.subscribeHandy{
	text-decoration: none;
}
#add{
	cursor: pointer;
}
.icon-envelop:before {
    content: "\e945";
    font-size: 15px;
}
#modal_subscribePrice div.left {
    float: left;
    margin-right: 10px;
}
#modal_subscribePrice div.right {
    float: right;
}
#modal_subscribePrice div.left label{
	margin-top: 10px;
	 display: block;
}
#modal_subscribePrice a.subcribePrice{
	margin-top: 10px;
    display: block;
}
#modal_subscribePrice > div{
	border: 1px solid grey;
	padding: 10px;
}
.icon-arrow-up2:before {
    content: "\ea3a";
}
span.icon-arrow-up2.rotated {
    transform: rotate(180deg);
    display: inline-block;
}
@media screen and (max-width: 800px){
    .t_table tr.head {
        display: block;
    }
    .t_table tr.head td:last-child{
        display: none;
    }
    span.icon-envelop::before, span.icon-cancel-circle1::before{
        font-size: 20px;
    }
    .t_table tr td:last-child{
        text-align: center;
    }
}
