a.resultItem {
    display: block;
    cursor: pointer;
}
p.title {
    font-weight: bold;
    margin: 20px 0 10px 0;
}
.hidden{
	display: none;
}
ul.searchResult_list {
    width: 300px;
    background: #f7f7f7;
     border: none;
}