/* Ion.Tabs
// css version 1.0.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Ion.Tabs: Base */

.ionTabs {
    position: relative;
}
    .ionTabs__head {
        position: relative; display: block;
        list-style-type: none;
        margin: 0; padding: 0;
        z-index: 1;
    }
    .ionTabs__head:before, .ionTabs__head:after {content: ""; display: table;}
    .ionTabs__head:after {clear: both;}
    .ionTabs__head {zoom: 1;}

        .ionTabs__tab {
            position: relative;
            display: block; float: left;
            list-style-type: none;
            background: none;
            margin: 0; padding: 0;
            cursor: pointer;
        }
            .ionTabs__tab.ionTabs__tab_state_active {
                cursor: default;
            }

    .ionTabs__body {
        position: relative;
        z-index: 2;
    }

    .ionTabs__item {
        position: relative;
        display: none;
    }
        .ionTabs__item.ionTabs__item_state_active {
            display: block;
        }

    .ionTabs__preloader {
        position: relative;
    }
    /* Ion.Tabs: Flat Skin
// css version 1.0.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Ion.Tabs: Skin details */

.ionTabs {
    margin: 0 0 30px;
}
    .ionTabs__head {

    }

    .ionTabs__tab {
        top: 3px;
        font-size: 14px; line-height: 16px;
        font-weight: bold;
        background: #fff;
        padding: 10px 10px 10px
    }
        .ionTabs__tab:hover {
            background: #e5e5e5;
        }
        .ionTabs__tab.ionTabs__tab_state_active {
            top: 0;
            background: #f7f7f7;
            box-shadow: -3px 3px 0 rgba(0,0,0,0.15);
        }

    .ionTabs__body {
        background: #f7f7f7;

        box-shadow: -3px 3px 0 rgba(0,0,0,0.15);
    }

    .ionTabs__item {
        padding: 15px 26px;
    }

    .ionTabs__preloader {
        height: 50px;
        background: url(../img/preloader-flat.gif) no-repeat 25px 50%;
    }
tr[text_id], tr[rubric_id]{
	cursor: pointer;
}
.t_form .title{
    width: 100px;
}
.t_form .value{
    width: 100%;
}
a.bottom{
    margin-top: 10px;
    display: inline-block
}
p.title{
    margin: 5px 0;
    font-weight: bold;
}
div.actions{
    margin-bottom: 10px;
}