div.intuitiveSearch_wrap{
	display: block;
	margin: 10px 0;
}
.icon-cancel-circle1:before {
    content: "\ea0d";
}
select[name^=store_id]{
	width: 100%;
}
input[name^=price]{
	width: 80px;
}
#user_order_add div.item_search{
	display: none;
	background: #e8fff2;
	padding: 10px;
	margin: 10px 0;
}
#user_order_add div.item_search.active{
	display: block;
}
#user_order_add ul.found_items{
	padding: 0;
}
#user_order_add ul.found_items li{
	padding: 0;
	cursor: pointer;
}
#user_order_add #added_items{
	background: #d6ffd6;
	padding: 10px;
}
#added_items{
	display: block;
}
#added_items > p:nth-child(3){
	margin-bottom: 10px;
	margin-top: 10px;
}
#user_order_add p:first-child{
	margin-bottom: 10px;
}
#user_order_add table{
	border-spacing: 0;
	width: 100%;
}
#user_order_add table td,
#user_order_add table th{
	border: 1px solid black;
	padding: 5px;
}
#user_order_add textarea{
	height: 20px;
}
.actions.users {
    margin-bottom: 10px;
}