#user_order_add div.item_search{
	display: none;
	background: #e8fff2;
	padding: 10px;
	margin: 10px 0;
}
#user_order_add div.item_search.active{
	display: block;
}
#user_order_add ul.found_items{
	padding: 0;
}
#user_order_add ul.found_items li{
	padding: 0;
	cursor: pointer;
}
#user_order_add form.added_items{
	background: #d6ffd6;
	padding: 10px;
}
#user_order_add p:first-child{
	margin-bottom: 10px;
}
#user_order_add table{
	border-spacing: 0;
	width: 100%;
}
#user_order_add table td,
#user_order_add table th{
	border: 1px solid black;
	padding: 5px;
}
#user_order_add textarea{
	padding: 10px;
	height: 20px;
}
.actions.users {
    margin-bottom: 10px;
}